@mixin rotating($duration: 30s) {
  -webkit-animation: rotating $duration linear infinite;
  -moz-animation: rotating $duration linear infinite;
  -ms-animation: rotating $duration linear infinite;
  -o-animation: rotating $duration linear infinite;
  animation: rotating $duration linear infinite;
  will-change: transform;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
