@import "./utils.scss";

.home {
  background: #16161c;

  .hero {
    @include dims(100%, 100vh);
    overflow: hidden;
    position: relative;

    background-image: url(../img/banner.png);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;

    @include devicesMax(tablet) {
      background-image: url(../img/banner-touch.png);
    }

    @include devicesMax(mobile) {
      background-size: 120%;
      background-position: bottom right;
    }
    .logoWrapper {
      @include dims(10vw, auto);
      margin: 2vw 3vw;

      @include devicesMax(tablet) {
        @include dims(20vw, auto);
        margin: 4vw;
      }

      @include devicesMax(mobile) {
        @include dims(30vw, auto);
      }

      .logo {
        @include dims(100%);
        object-fit: contain;
      }
    }

    .marqueeWrapper {
      @include position(absolute, auto, 0, 0, 0);
      background: linear-gradient(0deg, #000, rgb(255, 255, 255, 0));
    }

    .textWrapper {
      margin: 10vw 0 0 3vw;
      width: 35vw;

      @include devicesMax(tablet) {
        margin: 12vw 0 0 4vw;
      }

      .text {
        color: #c1c1c1;
        font-size: 2vw;
        font-family: Lychee;
        font-weight: 400;
        margin-bottom: 5vw;

        @include devicesMax(tablet) {
          margin-bottom: 7vw;
          font-size: 4vw;
          width: 60vw;
        }

        @include devicesMax(mobile) {
          font-size: 6.5vw;
          margin-bottom: 12vw;
          width: 75vw;
        }

        .inner {
          color: #ce1953;
          font-family: LaicaBItalic;
        }
      }

      .contactBtn {
        @include dims(24vw, 4vw);
        color: #c1c1c1;
        font-family: LS-VG5000;
        font-size: 1.75vw;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-between;

        @include devicesMax(tablet) {
          @include dims(44vw, 8vw);
          font-size: 3.25vw;
        }

        @include devicesMax(mobile) {
          @include dims(50vw, 10vw);
          font-size: 5vw;
        }

        &::after {
          content: "";
          @include position(absolute, 100%, auto, auto, 0);
          @include dims(50%, 2px);
          background: #ce1953;
        }

        &::before {
          content: "";
          @include position(absolute, 105%, 0, auto, auto);
          @include dims(50%, 2px);
          background: #ce1953;
          transition: 0.2s all ease;
        }

        @include devicesMin(aboveTablet) {
          &:hover {
            &::before {
              @include position(absolute, 100%, 0, auto, auto);
            }
          }
        }

        .iconWrapper {
          @include dims(1.25rem, auto);

          @include devicesMax(mobile) {
            @include dims(0.75rem, auto);
          }
        }
      }
    }
  }

  .horizontalScroll {
    min-height: 100vh;
    position: relative;

    display: flex;
    align-items: center;
    overflow-x: hidden;

    .hSection {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }

    .text {
      color: #f2f2f2;
      font-size: 10vw;
      display: block;
      flex-shrink: 0;

      .word {
        margin-right: 5vw;
        flex-shrink: 0;

        display: inline-block;

        .letter {
          display: inline-block;
        }
      }
    }

    .reels {
      @include dims(auto, 100vh);
      padding: 0 10vw;

      display: flex;
      align-items: center;
      justify-content: center;

      .imgC {
        @include dims(25vw, auto);

        .img {
          @include dims(100%);
          display: block;
          object-fit: contain;
          transform: rotateY(-16deg) rotateX(24deg);
        }
      }
    }
  }

  .marqueeC {
    overflow-x: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .transformC {
      transform: rotate(8deg);
      padding: 5vw 0;
      z-index: 10;

      &:nth-child(2) {
        margin-top: -20vw;
        z-index: 5;

        .mText {
          color: #131317;
        }
      }

      .mText {
        flex-shrink: 0;
        font-family: Lychee;
        font-weight: 700;
        font-size: 10vw;
        color: #c1c1c1;

        display: flex;
        align-items: center;

        .seperator {
          @include dims(200px, 10px);
          background: #c1c1c1;
          display: inline-block;
          margin: 2vw 3vw 0 3vw;
        }
      }
    }
  }

  .works {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .titleC {
      margin: 0 auto;
      text-align: center;

      .title {
        color: #c1c1c1;
        font-family: Lychee;
        font-size: 4.75vw;
        line-height: 130%;
        margin-bottom: 2.5vw;

        .italic {
          color: #ce1953;
          font-family: LaicaBItalic;
        }
      }

      .text {
        color: #c1c1c1;
        font-family: Lychee;
        font-size: 2vw;
        line-height: 150%;
      }
    }

    .worksGrid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      grid-gap: 2.5rem;

      padding: 10vw 4vw 0 4vw;

      .gridItemC {
        padding: 1rem;
        position: relative;

        background: red;

        &::before {
          // for apsect ratio
          content: "";
          display: block;
          padding-bottom: 100%;
        }

        .img {
          position: absolute;
          max-width: 100%;

          // Alternate Version
          // top: 0;
          // bottom: 0;
          // right: 0;
          // left: 0;
          // margin: auto;

          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .lookUp {
      color: #c1c1c1;
      margin: 5vw 0;
      text-align: center;

      font-family: Lychee;
      font-size: 1.25vw;
      line-height: 150%;

      .link {
        color: #ce1953;
        font-family: LS-VG5000;
        text-decoration: underline;
      }
    }
  }

  .stats {
    @include dims(100vw, 100vh);
    overflow: hidden;
    position: relative;

    .topC {
      @include position(fixed, 0, 0, auto, 0);

      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      z-index: 200;

      padding: 10vw 5vw;

      .titleC {
        font-size: 2vw;
        color: #fff;
      }

      .imgC {
        .img {
          transform: rotate(20deg);
        }
      }
    }

    .oWrapper {
      overflow: hidden;
      position: relative;
      transform-origin: center left;

      @include dims(100vw, 100vh);
      @include position(absolute, auto, auto, auto, auto);

      &.blue {
        background: #2d00f5;
        z-index: 110;
      }

      &.pink {
        background: #ce1953;
        z-index: 105;
      }

      &.black {
        background: #16161c;
        z-index: 100;
      }

      .screen {
        @include dims(100vw, 100vh);

        // &.blue {
        //   background: #2d00f5;
        //   z-index: 110;
        // }

        // &.pink {
        //   background: #ce1953;
        //   z-index: 105;
        // }

        // &.black {
        //   background: #16161c;
        //   z-index: 100;
        // }

        display: flex;
        align-items: center;
        justify-content: center;

        .stat {
          font-size: 10vw;
          color: #fff;
        }
      }
    }
  }

  .references {
    .logoGrid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(14vw, 1fr));
      grid-gap: 2.5rem;

      .logoC {
        border: 1px solid #ce1953;
        border-radius: 50%;

        padding: 1rem;
        position: relative;

        &::before {
          // for apsect ratio
          content: "";
          display: block;
          padding-bottom: 100%;
        }

        .img {
          position: absolute;
          max-width: 100%;

          // Alternate Version
          // top: 0;
          // bottom: 0;
          // right: 0;
          // left: 0;
          // margin: auto;

          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
