@import "./utils.scss";

.home {
  background: #16161c;

  .hero {
    @include dims(100%, 100vh);
    overflow: hidden;
    position: relative;

    // outline: 2px solid blue;
    // outline-offset: -2px;

    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

    @include devicesMax(tablet) {
      background-image: url(../img/banner-touch.png);
    }

    @include devicesMax(mobile) {
      background-size: 120%;
      background-position: bottom right;
    }

    .logoWrapper {
      @include dims(10vw, auto);
      margin: 2vw 3vw;

      @include devicesMax(tablet) {
        @include dims(20vw, auto);
        margin: 4vw;
      }

      @include devicesMax(mobile) {
        @include dims(30vw, auto);
      }

      .logo {
        @include dims(100%);
        object-fit: contain;
      }
    }

    .marqueeC {
      @include position(absolute, auto, 0, 0, 0);
      background: linear-gradient(0deg, #16161c, rgb(255, 255, 255, 0));
      padding: 0 0 5vw 0;

      .mText {
        flex-shrink: 0;
        font-family: LycheeItalic;
        font-weight: 400;
        font-size: 8vw;
        color: #fff;

        display: flex;
        align-items: center;

        .seperator {
          @include dims(200px, 10px);
          background: #fff;
          display: inline-block;
          margin: 2vw 3vw 0 3vw;
        }
      }
    }

    .textWrapper {
      margin: 10vw 0 0 3vw;
      width: 35vw;

      @include devicesMax(tablet) {
        margin: 12vw 0 0 4vw;
      }

      .text {
        color: #c1c1c1;
        font-size: 2vw;
        font-family: Lychee;
        font-weight: 400;
        margin-bottom: 4vw;

        @include devicesMax(tablet) {
          margin-bottom: 7vw;
          font-size: 4vw;
          width: 60vw;
        }

        @include devicesMax(mobile) {
          font-size: 6.5vw;
          margin-bottom: 12vw;
          width: 75vw;
        }

        .inner {
          color: #ce1953;
          font-family: LaicaBItalic;
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        column-gap: 2vw;

        .button {
          @include dims(14vw, 3vw);
          border: 1px solid #c1c1c1;
          border-radius: 32px;
          color: #c1c1c1;
          display: block;
          font-family: LS-VG5000;
          font-size: 1.25vw;
          line-height: 80%;
          margin-bottom: 2.5vw;

          display: grid;
          place-items: center;
        }
      }
    }
  }

  .greeting {
    .textC {
      margin: 15vw auto 0 auto;
      position: relative;

      .imgC {
        @include position(absolute, 5vw, auto, auto, 30vw);
      }

      .line {
        margin: 0 auto;

        display: flex;
        align-items: center;

        .text {
          margin: 0 auto;

          color: #c1c1c1;
          font-family: Lychee;
          font-size: 4vw;
          line-height: 60%;
          margin-bottom: 2.5vw;
          text-align: center;

          .italic {
            color: #ce1953;
            font-family: LaicaBItalic;
          }

          &.brands {
            margin-right: 10vw;
          }
        }
      }
    }
  }

  .horizontalScroll {
    min-height: 100vh;
    position: relative;

    display: flex;
    align-items: center;
    overflow-x: hidden;

    .hSection {
      padding-left: 30vw;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }

    .text {
      color: #c1c1c1;
      font-family: Lychee;
      font-size: 13vw;
      font-weight: 700;
      display: block;
      flex-shrink: 0;

      .word {
        margin-right: 5vw;
        flex-shrink: 0;

        display: inline-block;

        .letter {
          display: inline-block;
        }
      }
    }

    .reels {
      @include dims(auto, 100vh);
      margin: 0 15vw 0 25vw;
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      .button {
        @include position(absolute, 30vw, auto, auto, -15vw);
        @include dims(20vw, 4vw);
        background: #131317;
        border: 2px solid #ce1953;
        border-radius: 32px;
        color: #c1c1c1;
        display: block;
        font-family: LS-VG5000;
        font-size: 1.5vw;
        line-height: 80%;
        margin-bottom: 2.5vw;

        display: grid;
        place-items: center;
      }

      .instaxC {
        @include position(absolute, 15vw, auto, auto, -10vw);
        @include dims(7vw, auto);
        transform: rotate(-14deg);

        .img {
          @include dims(100%);
          display: block;
          object-fit: contain;
        }
      }

      .agencyC {
        @include position(absolute, 35vw, auto, auto, 15vw);
        @include dims(20vw, auto);
        transform: rotate(-18deg);

        .img {
          @include dims(100%);
          display: block;
          object-fit: contain;
        }
      }

      .imgC {
        @include dims(25vw, auto);

        .img {
          @include dims(100%);
          display: block;
          object-fit: contain;
        }
      }
    }
  }

  .marqueeC {
    overflow-x: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .transformC {
      transform: rotate(8deg);
      padding: 5vw 0;
      z-index: 10;

      &:nth-child(2) {
        margin-top: -20vw;
        z-index: 5;

        .mText {
          color: #131317;
        }
      }

      .mText {
        flex-shrink: 0;
        font-family: Lychee;
        font-weight: 700;
        font-size: 10vw;
        color: #c1c1c1;

        display: flex;
        align-items: center;

        .seperator {
          @include dims(200px, 10px);
          background: #c1c1c1;
          display: inline-block;
          margin: 2vw 3vw 0 3vw;
        }
      }
    }
  }

  .works {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .titleC {
      margin: 0 auto;
      text-align: center;

      .title {
        color: #c1c1c1;
        font-family: Lychee;
        font-size: 4.75vw;
        line-height: 130%;
        margin-bottom: 2.5vw;

        .italic {
          color: #ce1953;
          font-family: LaicaBItalic;
        }
      }

      .text {
        color: #c1c1c1;
        font-family: Lychee;
        font-size: 2vw;
        line-height: 150%;
      }
    }

    .worksGrid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      grid-gap: 2.5rem;

      padding: 10vw 4vw 0 4vw;

      .gridItemC {
        padding: 1rem;
        position: relative;

        background: red;

        &::before {
          // for apsect ratio
          content: "";
          display: block;
          padding-bottom: 100%;
        }

        .img {
          position: absolute;
          max-width: 100%;

          // Alternate Version
          // top: 0;
          // bottom: 0;
          // right: 0;
          // left: 0;
          // margin: auto;

          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .lookUp {
      color: #c1c1c1;
      margin: 5vw 0;
      text-align: center;

      font-family: Lychee;
      font-size: 1.25vw;
      line-height: 150%;

      .link {
        color: #ce1953;
        font-family: LS-VG5000;
        text-decoration: underline;
      }
    }
  }

  .stats {
    @include dims(100vw, 100vh);
    overflow: hidden;
    position: relative;

    .topC {
      @include position(fixed, 0, 0, auto, 0);

      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      z-index: 200;

      padding: 8vw 10vw 0 6vw;

      .titleC {
        color: #f2e6cc;

        .title {
          font-family: Lychee;
          font-size: 3.75vw;
          line-height: 120%;
          margin-bottom: 2vw;

          .italic {
            font-family: LaicaB;
            font-style: italic;
          }
        }

        .text {
          @include dims(25vw, auto);
          font-family: Lychee;
          font-size: 1.25vw;
          line-height: 140%;
        }
      }

      .imgC {
        .img {
          transform: rotate(20deg);
        }
      }
    }

    .oWrapper {
      overflow: hidden;
      position: relative;
      transform-origin: center left;

      @include dims(100vw, 100vh);
      @include position(absolute, auto, auto, auto, auto);

      &.blue {
        background: #2d00f5;
        z-index: 110;
      }

      &.pink {
        background: #ce1953;
        z-index: 105;
      }

      &.black {
        background: #16161c;
        z-index: 100;
      }

      .screen {
        @include dims(100vw, 100vh);

        display: flex;
        align-items: center;
        justify-content: center;

        .statC {
          margin-top: 20vw;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;

          &.blue {
            margin-right: 10vw;
          }

          &.pink {
            background: #ce1953;
            z-index: 105;
          }

          &.black {
            background: #16161c;
            z-index: 100;
          }

          .statText {
            color: #fff;
            font-family: LS-VG5000-Shifted;
            font-size: 12vw;
            margin-bottom: 2vw;
            position: relative;

            .asterisk {
              @include position(absolute, 0, 0, auto, auto);
              display: inline-block;
              font-size: 4.5vw;
              transform: translate(100%, 0);
            }

            .million {
              font-size: 8vw;
            }

            .percent {
              font-family: Lychee;
              font-size: 5vw;
              transform: translate(100%, 0);
            }
          }

          .desc {
            @include dims(30vw, auto);
            font-size: 2.5vw;
            color: #fff;
            font-family: Lychee;
            text-align: right;
          }
        }
      }
    }
  }

  .references {
    margin-top: 10vw;
    .titleC {
      margin: 0 auto 10vw auto;
      text-align: center;

      .imgC {
        @include dims(25vw, auto);
        margin: 0 auto 2vw auto;

        .img {
          @include dims(100%);
          display: block;
          object-fit: contain;
        }
      }

      .title {
        color: #c1c1c1;
        font-family: Lychee;
        font-size: 4vw;
        line-height: 130%;
        margin-bottom: 2.5vw;

        .italic {
          color: #ce1953;
          font-family: LaicaBItalic;
        }
      }

      .text {
        color: #c1c1c1;
        font-family: Lychee;
        font-size: 2vw;
        line-height: 150%;
      }
    }

    .logoGrid {
      overflow: hidden;
      padding: 5vw 0;

      .row {
        margin-bottom: 2vw;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;

        &:last-child() {
          margin-bottom: 0;
        }
      }

      .logoC {
        @include dims(15vw);
        border: 1px solid #ce1953;
        border-radius: 50%;
        flex-shrink: 0;

        padding: 1rem;
        position: relative;

        &::before {
          // for apsect ratio
          content: "";
          display: block;
          padding-bottom: 100%;
        }

        &.logoDisney {
          transform: translate(-2vw, 0);
        }

        &.logoAdidas {
          transform: translate(-2vw, -5vw);
        }

        &.logoPhilips {
          transform: translate(0, -2vw);
        }

        &.logoNike {
          transform: translate(3vw, 0);
        }

        &.logoNestle {
          transform: translate(4vw, 5vw);
        }

        &.logoEsteeLauder {
          transform: translate(2vw, -5vw);
        }

        &.logoLoreal {
          transform: translate(-3vw, -6vw);
        }

        &.logoDyson {
          transform: translate(0, -4vw);
        }

        &.logoStarbucks {
          transform: translate(0, 0);
        }

        .img {
          position: absolute;
          max-width: 100%;

          // Alternate Version
          // top: 0;
          // bottom: 0;
          // right: 0;
          // left: 0;
          // margin: auto;

          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .moveOn {
    margin: 8vw 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    .titleC {
      margin: 0 auto 3vw auto;
      text-align: center;

      .imgC {
        @include dims(25vw, auto);
        margin: 0 auto 2vw auto;

        .img {
          @include dims(100%);
          display: block;
          object-fit: contain;
        }
      }

      .title {
        color: #c1c1c1;
        font-family: Lychee;
        font-size: 4vw;
        line-height: 60%;
        margin-bottom: 2.5vw;

        .italic {
          font-family: LaicaBItalic;
        }

        &:nth-child(1) {
          font-size: 4.5vw;
        }
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      column-gap: 2vw;

      .button {
        @include dims(20vw, 4vw);
        border: 2px solid #ce1953;
        border-radius: 36px;
        color: #c1c1c1;
        display: block;
        font-family: LS-VG5000;
        font-size: 1.5vw;
        line-height: 80%;
        margin-bottom: 2.5vw;

        display: grid;
        place-items: center;
      }
    }
  }
}
