@import "../_global.scss";

.brandForm {
  $fontSize: 1.25rem;
  $fontSizeMobile: 1rem;
  $paddingLeft: 1.25rem;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  .button {
    @include dims(18vw, 3.5vw);
    font-family: LS-VG5000;
    margin-bottom: 0.5vw;
    opacity: 1;
    pointer-events: auto;
    transition: 0.4s all ease;

    display: grid;
    place-items: center;

    &.next {
      border: 1px solid #ce1953;
      border-radius: 36px;
      color: #ce1953;
      font-size: 1.5vw;
    }

    &.prev {
      color: #6c6c79;
      opacity: 0.3;
      text-decoration: underline;
      transition: 0.4s all ease;

      opacity: 0;
      pointer-events: none;
      visibility: hidden;

      &.show {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
      }
    }

    &.disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  .buttons {
    margin: 2vw auto 1vw auto;
    position: relative;
  }

  .bottom {
    @include position(absolute, auto, auto, 0, auto);
    @include dims(100%, auto);
    margin: 8% 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    .prevButton {
      margin-top: auto;
    }

    .progressBar {
      @include dims(100%, 4px);
      background: #292929;
      border-radius: 2px;
      position: relative;
      margin: 0 3vw 0 3vw;
      overflow: hidden;

      .progress {
        @include position(absolute, 0, auto, 0, 0);
        @include dims(100%);
        background: #ce1953;
        transform-origin: left;
        transition: 1s all ease;
      }
    }
  }

  .question {
    color: #c1c1c1;
    font-family: Lychee;
    font-size: $fontSize;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 2vw;
    text-align: center;
  }

  .formIntro,
  .formEnd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      @include dims(35vw, auto);
      color: #c8c8c8;
      font-family: Lychee;
      font-size: 3vw;
      font-weight: 400;
      line-height: 120%;
      text-align: center;

      .italic {
        font-family: LaicaBItalic;
      }
    }

    .text {
      @include dims(40vw, auto);

      color: #c8c8c8;
      font-family: Lychee;
      font-size: 1.25vw;
      font-weight: 400;
      line-height: 160%;
      margin-bottom: 3vw;
      text-align: center;
    }
  }

  .top {
    position: relative;

    display: flex;
    flex-direction: column;

    .responseMessage {
      @include position(absolute, 100%, auto, auto, 50%);
      color: #ff0000;
      font-family: Lychee;
      font-size: 1rem;
      font-weight: 400;
      line-height: 160%;
      margin: 0 auto;
      text-align: center;
      transform: translate(-50%);
      width: 100%;
    }
  }

  .formC {
    @include dims(37vw, 22vw);
    position: relative;
  }

  .title {
    color: #ce1953;
    font-family: Lychee;
    font-size: $fontSize;
    font-weight: 400;
    line-height: 100%;
    margin: 0 auto;
    margin-bottom: 1.5vw;
  }

  .form {
    @include position(absolute, 0, 0, 0, 0);

    display: flex;
    flex-direction: column;
    align-items: center;

    @include devicesMax(tablet) {
      @include dims(45vw, auto);
      margin: 5vw 3vw 7vw 2vw;
    }

    @include devicesMax(mobile) {
      @include dims(100%, auto);
      margin: 0;
      order: 2;
      padding-bottom: 20vw;
    }

    .row {
      display: flex;
      gap: 1rem;

      @include devicesMax(mobile) {
        flex-direction: column;
        gap: 0;
      }
    }

    .inputC {
      @include dims(100%, 3.5vw);
      background: #1b1b24;
      border-radius: 32px;
      margin-bottom: 1.25vw;
      position: relative;
      transition: 0.4s all ease;

      &:last-child {
        margin-bottom: 0;
      }

      @include devicesMax(tablet) {
        @include dims(100%, 5.5vw);
      }

      @include devicesMax(mobile) {
        @include dims(100%, 14vw);
        margin-bottom: 4vw;
      }

      .smallTop {
        @include position(absolute, auto, auto, 120%, auto);
        color: #b9ddd8;
        font-family: Moderat;
        font-size: 1rem;
        font-weight: 400;
        line-height: 120%;
        padding-left: $paddingLeft;
        white-space: nowrap;

        @include devicesMax(mobile) {
          @include position(absolute, auto, auto, 110%, 50%);
          font-size: 12px;
          margin-bottom: 2vw;
          padding-left: 0;
          transform: translateX(-50%);
        }
      }

      .label {
        @include position(absolute, 0, 0, 0, 0);
        color: #6c6c79;
        font-family: Lychee;
        font-size: $fontSize;
        font-weight: 400;
        line-height: 120%;
        opacity: 1;
        padding-left: $paddingLeft;
        transition: 0.4s all ease;

        display: flex;
        align-items: center;

        &.hidden {
          transition: 0s;
          @extend .hide;
        }
      }

      .input {
        @include position(absolute, 0, 0, 0, 0);
        display: flex;
        border-radius: 32px;
        color: #6c6c79;
        font-family: Lychee;
        font-size: $fontSize;
        font-weight: 400;
        line-height: 120%;
        margin: 0;
        padding: 0;
        padding-left: $paddingLeft;
        background: none;
        border: none;
        outline: none;
      }

      .iconW {
        @include position(absolute, 50%, 0, auto, auto);
        @include dims(2vw, auto);
        transform: translateY(-50%);
      }

      &.dropdownC {
        width: 20vw;
      }

      &.required {
        border: 1px solid #ce1953;
      }
    }

    .textareaC {
      @include dims(100%, 20vw);
      background: #1b1b24;
      border-radius: 32px;
      margin-bottom: 1vw;
      padding: 1.5rem;
      gap: 1rem;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      @include devicesMax(tablet) {
        @include dims(100%, 14vw);
        margin-bottom: 3vw;
      }

      @include devicesMax(mobile) {
        @include dims(100%, 35vw);
        margin-bottom: 6vw;
        margin-top: 5vw;
      }

      .label {
        @include dims(100%, auto);
        display: flex;
        color: #3b3b3b;
        font-family: Lychee;
        font-size: $fontSize;
        font-weight: 400;
        line-height: 100%;

        @include devicesMax(mobile) {
          font-size: $fontSizeMobile;
          margin-bottom: 2vw;
        }
      }

      .textarea {
        @include dims(100%, auto);
        color: $stonewallGrey;
        font-family: Lychee;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 160%;
        background: none;
        border: none;
        outline: none;
        resize: none;

        flex: 1;

        @include devicesMax(tablet) {
          @include dims(100%, 10vw);
        }

        @include devicesMax(mobile) {
          @include dims(100%, 30vw);
        }
      }

      &.required {
        border: 1px solid #ce1953;
      }
    }

    .confirmation {
      $boxDims: 20px;
      @extend .cursorPointer;

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      .checkbox {
        @include dims($boxDims);
        border: 1px solid #cfcfcf;
        border-radius: 4px;
        flex-shrink: 0;
        margin-top: 0.25vw;
        position: relative;

        .inner {
          @extend .absoluteCenter;
          @include dims(calc($boxDims - 6px));
          background: #cfcfcf;
          border-radius: 2px;
          transition: 0.3s all ease;
          @extend .hide;

          &.enabled {
            @extend .show;
          }
        }
      }
    }
  }

  .socialC {
    display: flex;
    flex-direction: column;
    align-items: center;

    .label {
      display: flex;
      color: #3b3b3b;
      font-family: Lychee;
      font-size: $fontSize;
      font-weight: 400;
      line-height: 100%;
      margin-bottom: 1vw;
      text-align: center;
      transition: 0.4s all ease;

      @include devicesMax(mobile) {
        font-size: $fontSizeMobile;
        margin-bottom: 2vw;
      }
    }

    .radioC {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1.5vw 0.5vw;

      .radio {
        @include dims(11vw, 3.5vw);
        background: #1b1b24;
        border-radius: 32px;
        padding: 0.5vw;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover,
        &.active {
          .check {
            @include dims(2.5vw);
            background: #ce1953;
          }
        }

        .text {
          color: #6c6c79;
          font-family: Lychee;
          font-size: $fontSize;
          font-weight: 400;
          line-height: 120%;
          opacity: 1;
          padding-left: $paddingLeft;
          transition: 0.4s all ease;
        }

        .check {
          @include dims(2.5vw);
          background: #6c6c7a;
          border-radius: 50%;
          transition: 0.4s all ease;
        }
      }
    }

    &.required {
      .label {
        color: $californiaSunset;
      }
    }
  }

  .confirmation {
    $boxDims: 20px;
    @extend .cursorPointer;
    margin-top: 10vw;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .checkbox {
      @include dims($boxDims);
      border: 1px solid #282828;
      border-radius: 4px;
      flex-shrink: 0;
      margin-top: 0.25vw;
      position: relative;

      .inner {
        @extend .absoluteCenter;
        @include dims(calc($boxDims - 6px));
        background: #282828;
        border-radius: 2px;
        transition: 0.3s all ease;
        @extend .hide;

        &.enabled {
          @extend .show;
        }
      }
    }
  }
}
