@import "../_global.scss";

.buttonText {
  @include typo(Lychee, 20px, null, 1.5, null);
  color: #c1c1c1;
  margin: 5vw 0;
  text-align: center;

  @include devicesMax(mobile) {
    @include typo(Lychee, 14px, null, 1.5, null);
  }

  .link {
    color: #ce1953;
    font-family: LS-VG5000;
    text-decoration: underline;

    @include devicesMax(mobile) {
      display: block;
    }
  }
}
