@import "../_global.scss";

.contactIntro {
  @include dims(100vw, calc(100vh - $headerHeight));

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .textC {
    margin: 0 auto 3vw auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      color: #c1c1c1;
      font-family: Lychee;
      font-size: 4.75vw;
      line-height: 130%;
      margin-bottom: 2vw;

      .italic {
        color: #2d00f5;
        font-family: LaicaBItalic;
      }
    }

    .text {
      @include dims(45vw, auto);
      color: #c1c1c1;
      font-family: Lychee;
      font-size: 1.5vw;
      line-height: 150%;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2vw;

    .button {
      @include dims(20vw, 4vw);
      border: 2px solid #ce1953;
      border-radius: 36px;
      color: #c1c1c1;
      display: block;
      font-family: LS-VG5000;
      font-size: 1.5vw;
      line-height: 80%;
      margin-bottom: 2.5vw;

      display: grid;
      place-items: center;
    }
  }

  .imgC {
    @include dims(13vw, 20vw);
    z-index: 10;
    filter: blur(8px);

    .img {
      @include dims(100%);
      display: block;
      object-fit: cover;
      z-index: -1;
      -webkit-border-radius: 32px;
      -khtml-border-radius: 32px;
      -moz-border-radius: 32px;
      border-radius: 32px;
    }

    &::after {
      content: "";
      @include position(absolute, 0, 0, 0, 0);
      @include dims(100%);
      background: #000;
      opacity: 0.3;
      z-index: 5;
    }

    &.left {
      @include position(absolute, 10vw, auto, auto, 5vw);
      transform: rotate(-23deg);
    }

    &.right {
      @include position(absolute, 20vw, auto, auto, 80vw);
      transform: rotate(21deg);
    }
  }
}
