@import "../_global.scss";

.floatingCard {
  @include dims(25vw, auto);
  border-radius: 16px;
  flex-shrink: 0;
  min-height: 18vw;
  padding: 1.5rem;

  @include devicesMax(tablet) {
    @include dims(100%, auto);
    min-height: 24vw;
    padding: 1rem;
  }

  @include devicesMax(mobile) {
    @include dims(90vw, 65vw);
    margin: 0 auto;
  }

  .text {
    font-family: Lychee;
    font-size: 1.25vw;
    line-height: 160%;
    margin-bottom: 3vw;

    @include devicesMax(tablet) {
      font-size: 1.5vw;
      margin-bottom: 0;
    }

    @include devicesMax(mobile) {
      font-size: 4vw;
      margin-bottom: 3vw;
    }
  }

  &.blue {
    background: #3300f6;
    color: #cfcfcf;
  }

  &.white {
    background: #f0f0f0;
    color: #16161e;
  }

  &.transparent {
    background: rgba(115, 115, 115, 0.3);
    -webkit-backdrop-filter: blur(28px);
    backdrop-filter: blur(28px);
    color: #f4f2f2;
  }
}
