@import "../_global.scss";

.footerNavigation {
  background: #f4f2f2;
  color: $eigengrau;
  padding: 0 10vw;

  display: flex;
  flex-direction: column;

  @include devicesMax(tablet) {
    padding: 0 4vw;
  }

  @include devicesMax(mobile) {
    padding: 0 5vw;
  }

  .navigation {
    @include dims(100%, auto);
    border-bottom: 2px solid $eigengrau;
    padding-top: 7vw;

    display: flex;

    @include devicesMax(mobile) {
      flex-direction: column-reverse;
      padding-bottom: 7vw;
    }

    .linkC {
      display: flex;

      @include devicesMax(mobile) {
        justify-content: space-between;
        margin: 0 0 8.5vw 0;
      }
    }

    .col {
      margin-bottom: 2vw;
      margin-top: auto;

      &.address {
        @include dims(30vw, auto);
        margin-right: auto;

        @include devicesMax(tablet) {
          @include typo(Lychee, 20px, null, 1.4, null);
          @include dims(40vw, auto);
        }

        @include devicesMax(mobile) {
          @include dims(65vw, auto);
        }

        .label {
          @include typo(LS-VG5000, 18px, null, null, null);
          color: #ce1953;
          display: block;

          @include devicesMax(mobile) {
            margin-bottom: 3vw;
          }
        }

        .text {
          @include typo(Lychee, 20px, null, 1.4, null);

          @include devicesMax(tablet) {
            @include typo(Lychee, 20px, null, 1.4, null);
          }

          @include devicesMax(mobile) {
            @include typo(Lychee, 15px, null, 1.4, null);
          }
        }
      }

      &.links {
        margin-left: 8vw;

        @include devicesMax(mobile) {
          margin-left: 0;
          margin-right: 5vw;
        }

        .link {
          @include typo(Lychee, 20px, null, 1.4, null);
          display: block;
          margin-bottom: 0.5vw;

          @include devicesMax(tablet) {
            @include typo(Lychee, 20px, null, 1.4, null);
          }

          @include devicesMax(mobile) {
            @include typo(Lychee, 20px, null, 1.4, null);
            margin-bottom: 5vw;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .copyright {
    padding: 1.75vw 0 3vw 0;

    display: flex;

    @include devicesMax(mobile) {
      flex-direction: column;
      padding: 7.5vw 0 10vw 0;
    }

    .item {
      @include typo(Lychee, 18px, 700, null, null);

      @include devicesMax(tablet) {
        @include typo(Lychee, 14px, 700, null, null);
      }

      @include devicesMax(mobile) {
        @include typo(Lychee, 15px, 700, null, null);
        margin-bottom: 7.5vw;
      }

      &.privacy {
        margin-left: 5vw;

        @include devicesMax(mobile) {
          margin-left: 0;
        }
      }

      &.signature {
        font-size: 15px;
        font-weight: 400;
        margin-left: auto;

        @include devicesMax(mobile) {
          margin-left: 0;
        }

        .jdfx {
          text-decoration: underline;
        }
      }
    }
  }
}
