@import "../utils.scss";

.header {
  padding: 1vw 0 1vw 3vw;

  .imgC {
    @include dims(10vw, auto);

    .img {
      @include dims(100%);
      display: block;
      object-fit: contain;
    }
  }
}
