@import "../_global.scss";

.header {
  @include position(fixed, 0, 0, auto, 0);
  @include dims(100%, $headerHeight);
  padding: 0 2vw 0 4vw;
  z-index: z-index("header");

  display: flex;
  align-items: center;

  @include devicesMax(tablet) {
    @include dims(100%, $headerHeightTablet);
  }

  @include devicesMax(mobile) {
    @include dims(100%, $headerHeightMobile);
  }

  .logoC {
    @include dims(10vw, auto);
    position: relative;

    @include devicesMax(tablet) {
      @include dims(20vw, auto);
    }

    @include devicesMax(mobile) {
      @include dims(25vw, auto);
    }

    &::before {
      content: "";
      @include position(absolute, 50%, auto, auto, 50%);
      @include dims(3rem);
      background: radial-gradient(circle, rgba(206, 25, 83, 1) 0%, rgba(206, 25, 83, 0) 100%);
      filter: blur(8px);
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
}
