@import "../_global.scss";

.header {
  @include position(fixed, 0, 0, auto, 0);
  @include dims(100%, $headerHeight);
  padding: 0 2vw 0 4vw;
  z-index: z-index("header");

  display: flex;
  align-items: center;

  .imgC {
    @include dims(10vw, auto);

    @include devicesMax(tablet) {
      @include dims(20vw, auto);
    }

    @include devicesMax(mobile) {
      @include dims(30vw, auto);
    }

    .img {
      @include dims(100%);
      display: block;
      object-fit: contain;
    }
  }
}
