@import "../_global.scss";

.listC {
  @include dims(100%);
  background: #f0f0f0;
  border-radius: 44px;
  margin: 0 auto;
  padding: 7vw 5vw;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5vw;

  @include devicesMax(tablet) {
    grid-template-columns: repeat(1, 1fr);
  }

  @include devicesMax(mobile) {
    border-radius: 24px;
    padding: 7vw 4vw 14vw 4vw;
  }

  .list {
    .listItem {
      border-bottom: 1px solid #707070;
      padding: 2vw 0;

      @include devicesMax(tablet) {
        padding: 4vw 0;
      }

      @include devicesMax(mobile) {
        margin-left: 8vw;
        padding: 10vw 0;
      }

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }

      &.active {
        .oHidden {
          max-height: 35vh;
        }

        .itemTitleC {
          .toggleMobile {
            .icon {
              &.minus {
                opacity: 1;
              }

              &.plus {
                opacity: 0;
              }
            }
          }
        }
      }

      .oHidden {
        overflow: hidden;
        transition: 1s all ease-in-out;

        @include devicesMax(mobile) {
          max-height: 0;
        }
      }

      .itemTitleC {
        margin-bottom: 1vw;
        position: relative;

        display: flex;

        .toggleMobile {
          display: none;

          @include devicesMax(mobile) {
            @include position(absolute, 2%, auto, auto, 97%);
            display: block;
          }

          .icon {
            @include position(absolute, 50%, auto, auto, 50%);
            transform: translate(-50%, -50%);
            @include dims(1rem);

            transition: 0.4s all ease;
            font-size: 2rem;

            &.minus {
              opacity: 0;
            }

            &.plus {
              opacity: 1;
            }
          }
        }

        .index {
          color: #d41a5e;
          font-family: LS-VG5000;
          font-style: italic;
          font-size: 2vw;
          font-weight: 400;
          margin-right: 1.5vw;

          @include devicesMax(tablet) {
            font-size: 3vw;
          }

          @include devicesMax(mobile) {
            @include position(absolute, 10%, 103%, auto, auto);
            font-size: 4vw;
          }
        }

        .title {
          color: #d41a5e;
          font-family: Lychee;
          font-weight: 700;
          font-size: 2vw;
          line-height: 120%;

          @include devicesMax(tablet) {
            font-size: 3vw;
          }

          @include devicesMax(mobile) {
            font-size: 5.5vw;
            margin-bottom: 2vw;
            width: 80%;
          }
        }
      }

      .text {
        color: #16161e;
        font-family: Lychee;
        font-weight: 400;
        font-size: 1.25vw;
        line-height: 140%;

        @include devicesMax(tablet) {
          font-size: 2.25vw;
        }

        @include devicesMax(mobile) {
          font-size: 4.5vw;
          margin-bottom: 5vw;
        }
      }
    }
  }
}
