@import "../_global.scss";

.methodsList {
  display: flex;
  align-items: stretch;

  .scrollbar {
    $scrollBarWidth: 9vw;

    @include dims($scrollBarWidth, auto);
    border: 1px solid $californiaSunset;
    border-radius: 72px;
    margin: 0 0 0 8vw;
    overflow: hidden;
    position: relative;
    z-index: 10;

    @include devicesMax(tablet) {
      display: none;
    }

    .thumb {
      @include position(absolute, 0, 0, auto, 0);
      @include dims($scrollBarWidth);
      background: rgb(206, 25, 83);
      background: radial-gradient(circle, rgba(206, 25, 83, 1) 0%, rgba(206, 25, 83, 0) 100%);
      border-radius: 50%;
      filter: blur(20px);
      will-change: transform;
      z-index: -1;
    }
  }

  .list {
    margin: 0 6vw;

    flex: 1;

    @include devicesMax(mobile) {
      margin: 0 5vw;
    }

    .listItem {
      padding-bottom: 8vw;
      padding-top: 2vw;
      position: relative;

      display: flex;
      align-items: flex-start;

      &:not(:first-child) {
        border-top: 1px solid $greyShingle;
      }

      &.active {
        .oHiddenC {
          max-height: 400px;
        }

        .info {
          .toggleMobile {
            .icon {
              &.minus {
                opacity: 1;
              }

              &.plus {
                opacity: 0;
              }
            }
          }
        }
      }

      .info {
        position: relative;

        display: flex;
        flex: 1;

        @include devicesMax(mobile) {
          flex-direction: column;
        }
      }

      .oHiddenC {
        margin-left: auto;
        transition: 1s all ease;

        @include devicesMax(mobile) {
          overflow: hidden;
          max-height: 0;
        }
      }

      .index {
        @include typo(LS-VG5000-Shifted, 32px, null, 1.2, null);
        color: $stonewallGrey;
        margin-right: 1.5rem;

        @include devicesMax(tablet) {
          @include typo(LS-VG5000-Shifted, 24px, null, 1.2, null);
        }

        @include devicesMax(mobile) {
          @include typo(LS-VG5000-Shifted, 22px, null, 1.2, null);
          margin: 10vw 1rem 10vw 0;
        }
      }

      .title {
        @include dims(20vw, auto);
        @include typo(Lychee, 35px, null, 1.2, null);
        color: $stonewallGrey;
        flex-shrink: 0;
        position: relative;

        @include devicesMax(tablet) {
          @include dims(30vw, auto);
          @include typo(Lychee, 24px, null, 1.2, null);
        }

        @include devicesMax(mobile) {
          @include dims(60vw, auto);
          @include typo(Lychee, 20px, null, 1.4, null);
          margin: 10vw 0;
        }

        .toggleMobile {
          display: none;

          @include devicesMax(mobile) {
            @include position(absolute, 0, auto, auto, 125%);
            display: block;
          }

          .icon {
            @include position(absolute, 50%, auto, auto, 50%);
            transform: translate(-50%, -50%);
            @include dims(1.25rem);

            transition: 0.4s all ease;
            font-size: 2rem;

            &.minus {
              opacity: 0;
            }

            &.plus {
              opacity: 1;
            }
          }
        }
      }

      .text {
        @include dims(37vw, auto);
        @include typo(Lychee, 20px, null, 1.5, null);
        color: $greyShingle;

        @include devicesMax(tablet) {
          @include dims(50vw, auto);
          @include typo(Lychee, 16px, null, 1.5, null);
        }

        @include devicesMax(mobile) {
          @include dims(100%, auto);
          @include typo(Lychee, 14px, null, 1.6, null);
        }
      }
    }
  }
}
