@import "../_global.scss";

.magnetCursor {
  @include position(fixed, 0, auto, auto, 0);
  @include dims(1rem);
  opacity: 0;
  pointer-events: none;
  transition: 0.1s opacity ease;
  z-index: z-index("cursor");

  &.visible {
    opacity: 1;
  }

  @include devicesMax(tablet) {
    display: none;
  }

  .cursor {
    @include position(absolute, 50%, auto, auto, 50%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s all cubic-bezier(0.215, 0.61, 0.355, 1);

    &.default {
      @include dims(18px);
      background: rgb(206, 25, 83);
    }

    &.lamp {
      @include dims(15rem);
      background: rgb(206, 25, 83);
      background: radial-gradient(circle, rgba(206, 25, 83, 1) 0%, rgba(206, 25, 83, 0) 100%);
      filter: blur(100px);
    }

    &.lampSmall {
      @include dims(5rem);
      background: rgb(206, 25, 83);
      background: radial-gradient(circle, rgba(206, 25, 83, 1) 0%, rgba(206, 25, 83, 0) 100%);
      filter: blur(10px);
    }
  }
}
