@import "../_global.scss";

.menuC {
  @include position(fixed, 0, 0, 0, 0);
  pointer-events: none;
  z-index: z-index("menu");

  &.open {
    pointer-events: auto;

    .hamburger {
      .horizontal {
        .lineC {
          &:nth-child(1) {
            transform: translateX(-400%);
          }

          &:nth-child(2) {
            transform: translateX(-600%);
          }
        }
      }

      .cross {
        .rotateC {
          &:nth-child(1) {
            .lineC {
              transform: translateX(0) translateY(70%);
            }
          }

          &:nth-child(2) {
            .lineC {
              transform: translateX(0) translateY(-70%);
            }
          }
        }
      }
    }
  }

  .langBtnC {
    $dims: 2rem;
    @include position(absolute, calc(($headerHeight - $dims) / 2), 9vw, auto, auto);
    @include dims($dims);
    pointer-events: auto;
    z-index: z-index("langSelect");

    @include devicesMax(desktop) {
      @include position(absolute, calc(($headerHeight - $dims) / 2), 10vw, auto, auto);
    }

    @include devicesMax(tablet) {
      @include position(absolute, calc(($headerHeightTablet - $dims) / 2), 15vw, auto, auto);
    }

    @include devicesMax(tabletmini) {
      @include position(absolute, calc(($headerHeightTablet - $dims) / 2), 19vw, auto, auto);
    }

    @include devicesMax(mobile) {
      @include position(absolute, calc(($headerHeightMobile - $dims) / 2), 22vw, auto, auto);
    }
  }

  .overlay {
    @include position(absolute, 0, 0, 0, 0);
    background: #000;
    z-index: 10;
  }

  $width: 110px;
  $widthMobile: 64px;

  $height: 48px;
  $heightMobile: 32px;

  $top: 3.75%;
  $right: 2vw;
  $rightTablet: 4vw;
  $distance: -4px;

  .hamburger {
    @include position(absolute, calc(($headerHeight - $height) / 2), $right, auto, auto);
    @include dims($width, $height);
    border-radius: 32px;
    overflow: hidden;
    pointer-events: auto;
    z-index: 30;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include devicesMax(tablet) {
      @include position(absolute, calc(($headerHeightTablet - $height) / 2), $rightTablet, auto, auto);
    }

    @include devicesMax(mobile) {
      @include position(absolute, calc(($headerHeightMobile - $heightMobile) / 2), $rightTablet, auto, auto);
      @include dims($widthMobile, $heightMobile);
    }

    .lineC {
      @include dims(32px, 4px);
      margin-bottom: 5px;
      transition: 0.8s all ease;

      display: flex;
      align-items: center;
      justify-content: center;

      @include devicesMax(mobile) {
        @include dims(22px, 2px);
        margin-bottom: 4px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .line {
        @include dims(100%);
        background: #fff;
        display: block;

        &.glitched {
          &:last-child {
            transform: translateY(-50%);
          }
        }
      }
    }

    .horizontal {
      position: absolute;
    }

    .cross {
      position: absolute;

      .rotateC {
        &:nth-child(1) {
          transform: rotate(-45deg);

          .lineC {
            transform: translateX(300%);
          }
        }

        &:nth-child(2) {
          transform: rotate(45deg);

          .lineC {
            transform: translateX(400%);
          }
        }
      }
    }
  }

  .menu {
    @include position(absolute, calc(($headerHeight - $height) / 2), $right, auto, auto);
    @include dims(25vw, 90vh);
    padding: 6vw 2vw 2vw 2vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include devicesMax(tablet) {
      @include position(absolute, calc(($headerHeightTablet - $height) / 2), $rightTablet, auto, auto);
      @include dims(60vw, 80vh);
      padding: 6vw;
    }

    @include devicesMax(mobile) {
      @include position(absolute, calc(($headerHeightMobile - $heightMobile) / 2), $rightTablet, auto, auto);
      @include dims(95vw, 85vh);
      padding: 10vw;
    }

    .background {
      background: $californiaSunset;
      will-change: transform;
      z-index: 20;

      @include devicesMax(mobile) {
        @include dims($widthMobile, $heightMobile);
      }

      // &[data-open="true"] {
      //   @include position(absolute, $distance, $distance, auto, auto);
      //   @include dims(100%);
      // }
    }

    .menuItems {
      position: relative;
      z-index: 30;

      .menuItem {
        margin-bottom: 0.5vw;
        opacity: 0;
        overflow: hidden;

        @include devicesMax(mobile) {
          margin-bottom: 2vw;
        }

        @media (hover: hover) {
          &:hover {
            .link {
              transform: translateX(0) skew(0);

              .text {
                transform: skew(-10deg);
              }
            }
          }
        }

        .link {
          transform: translateX(-1.5vw) skew(0);
          transition: 0.4s all ease;

          display: flex;
          align-items: center;
          column-gap: 1vw;

          .imgC {
            @include dims(1vw, auto);

            .img {
              @include dims(100%);
              object-fit: contain;
              display: block;
            }
          }

          .text {
            color: $bleachedSilk;
            font-family: Lychee;
            font-size: 3.5vw;
            transform: skew(0);
            transition: 0.4s all ease;

            @include devicesMax(tablet) {
              font-size: 7.5vw;
            }

            @include devicesMax(mobile) {
              font-size: 12vw;
            }
          }
        }
      }
    }

    .social {
      margin-top: auto;
      z-index: 30;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .iconC {
        @include dims(auto, 1.5rem);
        opacity: 0.9;

        @include devicesMax(mobile) {
          @include dims(auto, 1.25rem);
        }
      }
    }
  }
}
