@import "../_global.scss";

.privacyPolicyText {
  margin-left: 1rem;

  .small,
  .link {
    color: #cfcfcf;
    display: inline;
    font-family: Lychee;
    font-size: 1vw;
    font-weight: 400;
    line-height: 160%;

    @include devicesMax(tablet) {
      font-size: 1.5vw;
    }

    @include devicesMax(mobile) {
      font-size: 3.25vw;
    }
  }

  .link {
    text-decoration: underline;
  }
}
