@import "../global.scss";

.slider {
  margin: 4vw;
  position: relative;

  .slide {
    height: 850px;
    border-radius: 32px;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      @include position(absolute, -10px, -10px, auto, -10px);
      @include dims(auto, 40%);
      background: linear-gradient(180deg, $eigengrau, rgb(255, 255, 255, 0));
      z-index: 50;
    }

    .account {
      @include position(absolute, 2rem, auto, auto, 2rem);
      z-index: 100;

      display: flex;
      align-items: center;
      gap: 1rem;

      .imgC {
        @include dims(4vw);
      }

      .small {
        @include typo(Lychee, 20px, null, 1.4, null);
        color: $stonewallGrey;
      }
    }

    .mediaC {
      position: relative;

      .videoC {
        position: relative;

        &.active {
          .thumbnail {
            opacity: 0;
          }
        }

        .thumbnail {
          @include position(absolute, 0, 0, 0, 0);
          z-index: 10;
          transition: 0.4s all ease;
        }

        .video {
          @include dims(100%);
          object-fit: cover;

          // @include position(absolute, 0, 0, 0, 0);
        }
      }
    }
  }

  .navigation {
    margin: 2rem 0;
    display: flex;
    column-gap: 8px;

    .navItem {
      @include dims(80px, 4px);
      background: red;
      border-radius: 4px;
      overflow: hidden;
    }
  }
}
