@import "../global.scss";

.slider {
  position: relative;

  .slide {
    border-radius: 32px;
    height: 850px;
    overflow: hidden;
    position: relative;
    z-index: 10;

    @include devicesMax(tablet) {
      height: 480px;
    }

    @include devicesMax(mobile) {
      width: 80vw;
      margin: 0 auto;
    }

    &::before {
      content: "";
      @include position(absolute, -10px, -10px, auto, -10px);
      @include dims(auto, 40%);
      background: linear-gradient(180deg, $eigengrau, rgb(255, 255, 255, 0));
      pointer-events: none;
      z-index: 50;
    }

    .account {
      @include position(absolute, 1.5rem, auto, auto, 1.5rem);
      pointer-events: none;
      z-index: 100;

      display: flex;
      align-items: center;
      gap: 1rem;

      @include devicesMax(tablet) {
        @include position(absolute, 0.75rem, auto, auto, 0.75rem);
        gap: 0.5rem;
      }

      .imgC {
        @include dims(4vw);

        @include devicesMax(tablet) {
          @include dims(5vw);
        }

        @include devicesMax(mobile) {
          @include dims(12vw);
        }
      }

      .small {
        @include typo(Lychee, 20px, null, null, null);
        color: $stonewallGrey;

        @include devicesMax(tablet) {
          @include typo(Lychee, 14px, null, null, null);
        }
      }
    }

    .mediaC {
      position: relative;
      z-index: -1;

      .videoC {
        position: relative;

        &.active {
          .thumbnail {
            opacity: 0;
          }
        }

        .thumbnail {
          @include position(absolute, 0, 0, 0, 0);
          z-index: 10;
          transition: 0.4s all ease;
        }

        .video {
          @include dims(100%);
          object-fit: cover;

          // @include position(absolute, 0, 0, 0, 0);
        }
      }
    }
  }

  .btnWrapper {
    cursor: none;
    display: flex;
    height: fit-content;
    transition: 0.3s all ease;
    width: 120px;
    z-index: 10;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @extend .show;

    display: none;

    @include devicesMax(mobile) {
      display: flex;
    }

    &.disabled {
      @extend .hide;
    }

    &.btnPrev {
      justify-content: flex-start;
      left: 5vw;

      @include devicesMax(tabletMini) {
        left: 4vw;
      }

      @include devicesMax(mobile) {
        left: 5vw;
      }
    }

    &.btnNext {
      justify-content: flex-end;
      right: 5vw;

      @include devicesMax(mobile) {
        right: 5vw;
      }
    }

    .btnInner {
      @include dims(90px, 50px);
      cursor: none;
      position: relative;
      transition: 0.3s all ease;
      @extend .flexCenterX;

      @include devicesMax(tablet) {
        @include dims(50px);
        border-radius: 50%;
      }

      @include devicesMax(mobile) {
        @include dims(25px);
      }

      .btnArrow {
        cursor: none;
        pointer-events: none;

        &.next {
          transform: rotate(45deg);
        }

        &.prev {
          transform: rotate(-135deg);
        }
      }
    }
  }

  // .navigation {
  //   margin: 2rem 0;
  //   display: flex;
  //   column-gap: 8px;

  //   .navItem {
  //     @include dims(80px, 4px);
  //     background: red;
  //     border-radius: 4px;
  //     overflow: hidden;
  //   }
  // }
}
