@import "../_global.scss";

.text {
  @include typo(Lychee, 210px, null, null, null);
  color: #c1c1c1;
  display: block;
  flex-shrink: 0;

  @include devicesMax(tablet) {
    @include typo(Lychee, 110px, null, null, null);
    margin-left: 0;
  }

  .word {
    margin-right: 5vw;
    flex-shrink: 0;

    display: inline-block;

    &.normal {
      font-family: Lychee;
    }

    &.italic {
      color: $californiaSunset;
      font-family: LaicaB;
      font-style: italic;
    }

    .letter {
      display: inline-block;
    }
  }
}
