@import "../_global.scss";

.gridC {
  display: flex;
  flex-direction: column;

  .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(430px, 1fr));
    grid-gap: 2.5rem;

    @include devicesMax(tablet) {
      grid-template-columns: repeat(2, minmax(400px, 300px));
    }

    @include devicesMax(mobile) {
      grid-template-columns: repeat(1, minmax(92vw, 1fr));
      margin-bottom: 10vw;
    }

    .gridItemC {
      overflow: hidden;
      position: relative;

      &::before {
        // for apsect ratio
        content: "";
        display: block;
        padding-bottom: 100%;
      }

      &::after {
        content: "";
        @include position(absolute, auto, -20px, -20px, -20px);
        @include dims(auto, 40%);
        background: linear-gradient(0deg, $eigengrau, rgb(255, 255, 255, 0));
        z-index: 10;
      }

      .infoC {
        @include position(absolute, 0, 0, 0, 0);
        @include dims(100%);
        padding: 1vw 1.5vw;
        z-index: 100;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @include devicesMax(mobile) {
          padding: 3.5vw 5vw;
        }

        .text {
          @include typo(Lychee, 30px, null, 1.4, null);
          color: $bleachedSilk;
          margin-bottom: 1vw;

          @include devicesMax(mobile) {
            @include typo(Lychee, 24px, null, 1.4, null);
            margin-bottom: 2vw;
          }
        }

        .social {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          column-gap: 1rem;

          .iconC {
            @include dims(1.5rem, auto);

            @include devicesMax(mobile) {
              @include dims(1.25rem, auto);
            }
          }
        }
      }

      .img {
        @include position(absolute, 0, 0, 0, 0);
        @include dims(100%);
        max-width: 100%;
        transform: scale(1.01);

        display: block;
        object-fit: cover;

        // Alternate Version

        margin: auto;

        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
      }
    }
  }

  .seeMoreBtn {
    @include typo(Lychee, 20px, null, null, null);
    border: 1px solid $californiaSunset;
    border-radius: 5vmin;
    color: #c1c1c1;
    margin: 0 auto 5vw auto;
    padding: 0.5rem 1rem;
  }
}
