@import "../_global.scss";

.stickyNav {
  @include position(absolute, calc(70vh), auto, auto, 50vw);
  background: $eigengrau;
  border: 1px solid $californiaSunset;
  border-radius: 32px;
  transform: translate(-50%, -50%);

  display: flex;

  .navItem {
    @include dims(15vw, 3.5vw);
    border-radius: 28px;

    background: $californiaSunset;
    margin: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
  }
}
