@import "../_global.scss";

.stickyNav {
  border-radius: 32px;

  display: flex;

  &.left {
    &::before {
      left: 0;
    }
  }

  .navItem {
    @include dims(15vw, 54px);
    border-radius: 28px;
    color: #fff;
    font-family: LS-VG5000;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;

    @include devicesMax(tablet) {
      @include dims(30vw, 60px);
    }

    @include devicesMax(mobile) {
      @include dims(45vw, 40px);
      font-size: 1rem;
    }
  }

  &::before {
    content: "";
    @include position(absolute, 50%, auto, auto, 50%);
    @include dims(50%, 100%);
    background: $californiaSunset;
    border-radius: 28px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.6s all ease-in-out;
    z-index: -1;
    will-change: transform;
  }

  &::after {
    $distance: -4px;

    content: "";
    @include position(absolute, $distance, $distance, $distance, $distance);
    border: 1px solid $californiaSunset;
    border-radius: 32px;
    pointer-events: none;
    background: $eigengrau;
    z-index: -2;
  }
}
