@import "../_global.scss";
@import "../ContiniousRotate.scss";

.about {
  .imgC {
    overflow: hidden;
  }

  .intro {
    @include dims(100vw, 100vh);
    padding: 15vw 4vw;

    @include devicesMax(tablet) {
      @include dims(100vw, auto);
      padding: 25vw 4vw;
    }

    @include devicesMax(mobile) {
      padding: 35vw 4vw;
    }

    .title {
      @include typo(Lychee, 90px, null, 1.2, null);
      color: $stonewallGrey;
      display: inline-block;
      position: relative;

      @include devicesMax(tablet) {
        @include typo(Lychee, 56px, null, 1.2, null);
        text-align: center;
      }

      @include devicesMax(mobile) {
        @include typo(Lychee, 32px, null, 1.2, null);
      }

      .playBtn {
        @include position(absolute, 105%, 5%, 0, auto);
        @include dims(6vw);
        background: $anthracite;
        border-radius: 50%;
        overflow: hidden;
        @extend .cursorPointer;

        display: flex;
        align-items: center;
        justify-content: center;

        @include devicesMax(tablet) {
          @include position(absolute, 135%, auto, auto, 10%);
          @include dims(15vw);
        }

        @include devicesMax(mobile) {
          @include dims(25vw);
          @include position(absolute, 135%, auto, auto, 50%);
          transform: translateX(-50%);
        }

        .iconTri {
          @include dims(15%);
          @include position(absolute, 50%, auto, auto, 50%);
          transform: translate(-50%, -50%);
        }

        .text {
          @include dims(100%);
          @include position(absolute, 0, 0, 0, 0);
          transform-origin: center;
          padding: 8px;

          @include rotating();
        }
      }

      .italic {
        color: $californiaSunset;
        font-family: LaicaBItalic;
      }
    }
  }

  .team {
    margin: 0 8vw;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include devicesMax(tablet) {
      margin: 0 6vw;
    }

    @include devicesMax(mobile) {
      grid-template-columns: repeat(1, 1fr);
    }

    .partTeam {
      .text {
        @include typo(Lychee, 35px, null, 1.4, null);
        color: $stonewallGrey;

        @include devicesMax(tablet) {
          @include typo(Lychee, 20px, null, 1.4, null);
        }

        @include devicesMax(mobile) {
          @include typo(Lychee, 24px, null, 1.4, null);
        }
      }

      &:nth-child(1) {
        margin-left: auto;

        @include devicesMax(tablet) {
          padding-top: 35vw;
        }

        .text {
          @include dims(24vw, auto);
          margin-bottom: 25vw;
          margin-left: auto;
          margin-right: -8vw;

          @include devicesMax(tablet) {
            @include dims(auto);
            margin: 0;
            margin-bottom: 10vw;
          }

          @include devicesMax(mobile) {
            text-align: center;
          }
        }

        .imgC {
          @include dims(45vw, 27vw);

          @include devicesMax(tablet) {
            @include dims(100%, 30vw);
          }

          @include devicesMax(mobile) {
            @include dims(100%, 50vw);
            display: none;
          }
        }
      }

      &:nth-child(2) {
        margin-left: auto;

        @include devicesMax(tablet) {
          margin-left: 7vw;
        }

        @include devicesMax(mobile) {
          margin-left: 0;
        }

        .text {
          @include dims(25vw, auto);

          @include devicesMax(tablet) {
            @include dims(auto);
            margin: 0;
          }

          @include devicesMax(mobile) {
            text-align: center;
          }
        }

        .imgC {
          @include dims(27vw, 40vw);
          margin-bottom: 3vw;
          margin-top: 10vw;

          @include devicesMax(tablet) {
            @include dims(100%, 50vw);
            margin: 0;
            margin-bottom: 5vw;
          }

          @include devicesMax(mobile) {
            @include dims(100%, 50vw);
            margin-bottom: 10vw;
          }
        }
      }
    }
  }

  .fruit {
    @include dims(100vw, 100vh);

    display: flex;
    align-items: center;
    justify-content: center;

    @include devicesMax(tablet) {
      @include dims(auto);
      margin: 7.5vw 0 15vw 0;
    }

    @include devicesMax(mobile) {
      margin: 10vw 0 17.5vw 0;
    }

    .lychee {
      @include dims(40vw);
      margin-top: 10vw;
      position: relative;

      display: flex;

      @include devicesMax(tablet) {
        @include dims(60vw);
        margin: 0;
      }

      @include devicesMax(mobile) {
        @include dims(70vw);
      }

      .imgC {
        &.fruit {
          @include position(absolute, 25%, auto, auto, 5%);
          @include dims(40%, auto);
          transform: rotate(-28deg);
          z-index: 10;

          &.small {
            @include position(absolute, 5%, auto, auto, 50%);
            @include dims(20%, auto);
            transform: rotate(84deg);
          }
        }

        &.peel {
          @include dims(100%, auto);
          margin-top: auto;
          transform: rotate(-9deg);
        }
      }
    }
  }

  .growth {
    margin: 5vw 0;

    @include devicesMax(tablet) {
      margin: 5vw;
    }

    .title {
      @include dims(55vw, auto);
      @include typo(Lychee, 60px, null, 1.2, null);
      color: $stonewallGrey;
      margin: 0 auto 3vw auto;
      text-align: center;

      @include devicesMax(tablet) {
        @include typo(Lychee, 40px, null, 1.2, null);
        @include dims(auto);
      }

      @include devicesMax(mobile) {
        @include typo(Lychee, 32px, null, 1.2, null);
        margin-bottom: 10vw;
      }
    }

    .text {
      @include dims(50vw, auto);
      @include typo(Lychee, 25px, null, 1.4, null);
      color: $stonewallGrey;
      margin: 0 auto;
      text-align: center;

      @include devicesMax(tablet) {
        @include dims(auto);
      }

      @include devicesMax(mobile) {
        @include typo(Lychee, 20px, null, 1.4, null);
      }
    }
  }

  .advertisement {
    margin: 15vw 6vw 20vw 6vw;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include devicesMax(tablet) {
      grid-template-columns: repeat(1, 1fr);
      margin: 15vw 5vw 15vw 5vw;
    }

    .partAdvertisement {
      &:nth-child(1) {
        margin-left: auto;

        @include devicesMax(tablet) {
          margin-left: 0;
          margin-right: auto;
        }

        .title {
          @include typo(Lychee, 60px, null, 1.1, null);
          color: $stonewallGrey;
          margin-bottom: 4vw;
          margin-top: 8vw;

          @include devicesMax(tablet) {
            @include typo(Lychee, 40px, null, 1.1, null);
            @include dims(65vw, auto);
            text-align: left;
          }

          @include devicesMax(mobile) {
            @include typo(Lychee, 28px, null, 1.4, null);
            @include dims(100%, auto);
            margin-bottom: 10vw;
            text-align: center;
          }
        }

        .text {
          @include dims(23vw, auto);
          @include typo(Lychee, 20px, null, 1.4, null);
          color: $stonewallGrey;

          @include devicesMax(tablet) {
            @include typo(Lychee, 16px, null, 1.4, null);
            @include dims(36vw, auto);
            text-align: left;
          }

          @include devicesMax(mobile) {
            @include typo(Lychee, 20px, null, 1.4, null);
            @include dims(100%, auto);
            margin-bottom: 10vw;
            text-align: center;
          }
        }
      }

      &:nth-child(2) {
        margin-left: auto;
        position: relative;

        @include devicesMax(tablet) {
          margin-right: 5vw;
        }

        @include devicesMax(mobile) {
          margin-right: 0;
        }

        .imgC {
          &:nth-child(1) {
            @include dims(32vw, 50vw);

            @include devicesMax(tablet) {
              @include position(relative, auto, auto, auto, auto);
              @include dims(42vw, 60vw);
              margin-left: auto;
            }

            @include devicesMax(mobile) {
              display: none;
            }
          }

          &:nth-child(2) {
            @include position(absolute, auto, 85%, -25%, auto);
            @include dims(32vw, 22vw);
            margin-bottom: 3vw;

            @include devicesMax(tablet) {
              @include position(relative, auto, 35vw, auto, auto);
              @include dims(48vw, 32vw);
              margin-top: -20vw;
            }

            @include devicesMax(mobile) {
              @include position(relative, auto, auto, auto, auto);
              @include dims(100%, 60vw);
              margin: 0;
            }
          }
        }
      }
    }
  }

  .everyTime {
    .title {
      @include dims(55vw, auto);
      @include typo(Lychee, 60px, null, 1.2, null);
      color: $stonewallGrey;
      margin: 0 auto 3vw auto;
      text-align: center;

      @include devicesMax(tablet) {
        @include typo(Lychee, 48px, null, 1.2, null);
        @include dims(auto);
        margin: 0 4vw 15vw 4vw;
      }

      @include devicesMax(mobile) {
        @include typo(Lychee, 28px, null, 1.4, null);
      }
    }
  }

  .horizontalScroll {
    min-height: 100vh;
    position: relative;

    display: flex;
    align-items: center;
    overflow-x: hidden;

    @include devicesMax(tablet) {
      display: none;
    }

    .hScrollContent {
      padding: 0 20vw 0 10vw;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      .textC {
        margin: 15vw 10vw;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }

  .partners {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .title {
      @include dims(55vw, auto);
      @include typo(Lychee, 80px, null, 1.2, null);
      color: $stonewallGrey;
      margin: 0 auto 3vw auto;
      text-align: center;

      @include devicesMax(tablet) {
        @include typo(Lychee, 60px, null, 1.2, null);
        @include dims(auto);
        margin: 0 5vw 5vw 5vw;
      }

      @include devicesMax(mobile) {
        @include typo(Lychee, 32px, null, 1.4, null);
      }
    }

    .text {
      @include dims(50vw, auto);
      @include typo(Lychee, 35px, null, 1.4, null);
      color: $stonewallGrey;
      margin: 0 auto;
      text-align: center;

      @include devicesMax(tablet) {
        @include typo(Lychee, 30px, null, 1.4, null);
        @include dims(auto);
        margin: 0 5vw 5vw 5vw;
      }

      @include devicesMax(mobile) {
        @include typo(Lychee, 20px, null, 1.4, null);
      }
    }

    .logoGrid {
      overflow: hidden;
      padding: 5vw 0;

      @include devicesMax(tablet) {
        margin-top: 10vw;
      }

      .row {
        margin-bottom: 2vw;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;

        @include devicesMax(tablet) {
          flex-wrap: wrap;
        }

        @include devicesMax(mobile) {
          gap: 4vw;
          margin-bottom: 4vw;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      .logoC {
        @include dims(15vw);
        border: 1px solid #ce1953;
        border-radius: 50%;
        flex-shrink: 0;

        padding: 1rem;
        position: relative;

        @include devicesMax(tablet) {
          @include dims(20vw);
        }

        @include devicesMax(mobile) {
          @include dims(27vw);
        }

        &::before {
          // for apsect ratio
          content: "";
          display: block;
          padding-bottom: 100%;
        }

        &.logoDisney {
          transform: translate(-2vw, 0);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoAdidas {
          transform: translate(-2vw, -5vw);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoPhilips {
          transform: translate(0, -2vw);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoNike {
          transform: translate(3vw, 0);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoNestle {
          transform: translate(4vw, 5vw);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoEsteeLauder {
          transform: translate(2vw, -5vw);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoLoreal {
          transform: translate(-3vw, -6vw);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoDyson {
          transform: translate(0, -4vw);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoStarbucks {
          transform: translate(0, 0);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        .img {
          position: absolute;
          max-height: 50%;
          max-width: 80%;

          // Alternate Version
          // top: 0;
          // bottom: 0;
          // right: 0;
          // left: 0;
          // margin: auto;

          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .dare {
    padding: 5vw 0 10vw 0;

    @include devicesMax(mobile) {
      padding: 10vw 0 20vw 0;
    }

    .text {
      @include dims(65vw, auto);
      @include typo(Lychee, 80px, null, 1.1, null);
      color: $stonewallGrey;
      margin: 0 auto 4vw auto;
      text-align: center;

      @include devicesMax(tablet) {
        @include typo(Lychee, 60px, null, 1.1, null);
      }

      @include devicesMax(mobile) {
        @include typo(Lychee, 40px, null, 1.1, null);
        margin-bottom: 10vw;
      }
    }

    .btnC {
      @include dims(20vw, 3vw);
      display: block;
      margin: 0 auto;

      @include devicesMax(tablet) {
        @include dims(30vw, 6vw);
      }

      @include devicesMax(mobile) {
        @include dims(60vw, 12vw);
      }
    }
  }
}

.modalContent {
  @include dims(100vw, 100vh);

  display: flex;
  align-items: center;
  justify-content: center;

  .video {
    @include dims(100%);
    object-fit: contain;
  }
}
