@import "../_global.scss";

.contactContentCreator {
  $fontSize: 1.25rem;
  $fontSizeMobile: 1rem;
  $paddingLeft: 1.25rem;

  padding: 5vw 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include devicesMax(tablet) {
    @include dims(100vw, auto);
    padding: 15vw 0;
  }

  @include devicesMax(mobile) {
    @include dims(100vw, auto);
    padding: 30vw 0 0 0;
  }

  .title {
    color: #ce1953;
    font-family: Lychee;
    font-size: $fontSize;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 5vw;
    text-align: center;

    @include devicesMax(tablet) {
      margin-bottom: 0;
    }

    @include devicesMax(mobile) {
      font-size: 4.5vw;
      margin-bottom: 10vw;
    }
  }

  .formC {
    @include dims(37vw, auto);
    position: relative;

    @include devicesMax(tablet) {
      @include dims(55vw, auto);
      margin: 5vw 3vw 7vw 2vw;
    }

    @include devicesMax(mobile) {
      @include dims(90%, auto);
      margin: 0;
      order: 2;
      padding-bottom: 20vw;
    }

    .multipleInputC {
      margin-bottom: 5vw;
      position: relative;

      @include devicesMax(tablet) {
        margin-top: 10vw;
      }

      @include devicesMax(mobile) {
        margin-bottom: 4vw;
        margin-top: 20vw;
      }

      .addButton {
        color: #c8c8c8;
        font-family: Lychee;
        font-size: 1vw;
        margin-bottom: 0.5vw;
        padding-left: 1.5rem;

        display: flex;
        align-items: center;

        @include devicesMax(tablet) {
          font-size: 1.75vw;
        }

        @include devicesMax(mobile) {
          font-size: 4vw;
        }

        &.disabled {
          opacity: 0.3;
          pointer-events: none;
        }

        .plusC {
          $dims: 2.5vw;
          $dimsTablet: 4vw;
          $dimsMobile: 8vw;

          @include dims($dims);
          background: #1d1d28;
          border-radius: 50%;
          margin-right: 0.75vw;

          display: flex;
          align-items: center;
          justify-content: center;

          @include devicesMax(tablet) {
            @include dims($dimsTablet);
          }

          @include devicesMax(mobile) {
            @include dims($dimsMobile);
            margin-right: 1.75vw;
          }

          .iconW {
            @include dims(calc($dims - 1.5rem));

            @include devicesMax(tablet) {
              @include dims(calc($dimsTablet - 1rem));
            }

            @include devicesMax(mobile) {
              @include dims(calc($dimsMobile - 1rem));
            }
          }
        }
      }

      .smallTop {
        padding-left: $paddingLeft;
      }
    }

    // .error {
    //   @include position(absolute, 100%, auto, auto, auto);
    //   color: #3b3b3b;
    //   font-family: Moderat;
    //   font-size: 1rem;
    //   font-weight: 400;
    //   line-height: 160%;
    //   margin: 2vw 0;
    // }

    .smallTop {
      @include position(absolute, -30px, auto, auto, auto);
      color: #c8c8c8;
      font-family: Lychee;
      font-size: 1rem;
      font-weight: 400;
      line-height: 120%;
      white-space: nowrap;

      @include devicesMax(tablet) {
        @include position(absolute, -36px, auto, auto, auto);
      }

      @include devicesMax(mobile) {
        @include position(absolute, -30px, auto, auto, 50%);
        font-size: 14px;
        margin-bottom: 2vw;
        padding-left: 0;
        transform: translateX(-50%);
      }
    }

    .inputC {
      @include dims(100%, 4vw);
      background: #1b1b24;
      border-radius: 32px;
      margin-bottom: 1.25vw;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      @include devicesMax(tablet) {
        @include dims(100%, 6.5vw);
        margin-bottom: 2.5vw;
      }

      @include devicesMax(mobile) {
        @include dims(100%, 14vw);
        margin-bottom: 4vw;
      }

      .label {
        @include position(absolute, 0, 0, 0, 0);
        color: #6c6c79;
        font-family: Lychee;
        font-size: $fontSize;
        font-weight: 400;
        line-height: 120%;
        opacity: 1;
        padding-left: $paddingLeft;
        transition: 0.4s all ease;

        display: flex;
        align-items: center;

        @include devicesMax(tablet) {
          font-size: 20px;
        }

        @include devicesMax(mobile) {
          font-size: 14px;
        }

        &.hidden {
          transition: 0s;
          @extend .hide;
        }
      }

      .input {
        @include position(absolute, 0, 0, 0, 0);
        display: flex;
        background: none;
        border: none;
        border-radius: 32px;
        color: #6c6c79;
        font-family: Lychee;
        font-size: $fontSize;
        font-weight: 400;
        line-height: 120%;
        margin: 0;
        outline: none;
        padding: 0;
        padding-left: $paddingLeft;

        @include devicesMax(tablet) {
          font-size: 20px;
        }

        @include devicesMax(mobile) {
          font-size: 14px;
        }
      }

      .iconW {
        @include position(absolute, 50%, 0, auto, auto);
        @include dims(2vw, auto);
        transform: translateY(-50%);
      }

      &.email {
        margin-bottom: 5vw;
      }

      &.dropdownC {
        width: 20vw;
      }

      &.required {
        border: 1px solid #ce1953;
      }

      .deleteBtn {
        @include position(absolute, 50%, 2%, auto, auto);
        @include dims(2rem);
        background: $californiaSunset;
        border-radius: 50%;
        padding: 8px;
        transform: translateY(-50%);
        transition: 0.4s all ease;
        opacity: 0.5;

        display: flex;
        align-items: center;
        justify-content: center;

        @include devicesMax(mobile) {
          @include dims(25px);
          padding: 5px;
        }

        &:hover {
          opacity: 1;
        }

        .iconC {
          // @include position(absolute, 50%, auto, auto, 50%);
          @include dims(100%);
          transform: rotate(45deg);
        }
      }
    }

    .textareaC {
      @include dims(100%, 15vw);
      background: #1b1b24;
      border-radius: 32px;
      margin-bottom: 2vw;
      padding: 1vw 1.5vw;
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      @include devicesMax(tablet) {
        @include dims(100%, 20vw);
        margin-bottom: 3vw;
        margin-top: 15vw;
      }

      @include devicesMax(mobile) {
        @include dims(100%, 40vw);
        border-radius: 16px;
        margin-bottom: 6vw;
        margin-top: 35vw;
      }

      .label {
        @include dims(100%, auto);
        display: flex;
        color: #3b3b3b;
        font-family: Lychee;
        font-size: $fontSize;
        font-weight: 400;
        line-height: 100%;
        margin-top: 1vw;
        padding-left: $paddingLeft;

        @include devicesMax(mobile) {
          font-size: $fontSizeMobile;
          margin-bottom: 2vw;
        }
      }

      .textarea {
        @include dims(100%, 5vw);
        color: #6c6c79;
        font-family: Lychee;
        font-size: 1.25rem;
        font-weight: 400;
        margin: 0;
        line-height: 120%;
        padding: 0;
        background: none;
        border: none;
        outline: none;
        resize: none;

        @include devicesMax(tablet) {
          @include dims(100%, 10vw);
          font-size: 20px;
          padding: 12px;
        }

        @include devicesMax(mobile) {
          @include dims(100%);
          font-size: 14px;
          line-height: 160%;
          padding: 1rem;
        }
      }
    }

    .confirmations {
      margin-bottom: 5vw;
      margin-top: 5vw;

      .confirmation {
        $boxDims: 18px;
        $boxDimsMobile: 14px;

        @extend .cursorPointer;
        margin-bottom: 1vw;

        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        @include devicesMax(mobile) {
          margin-bottom: 4vw;
        }

        .checkbox {
          @include dims($boxDims);
          border: 1px solid #cfcfcf;
          border-radius: 4px;
          flex-shrink: 0;
          margin-top: 0.25vw;
          position: relative;

          @include devicesMax(mobile) {
            @include dims($boxDimsMobile);
          }

          .inner {
            @extend .absoluteCenter;
            @include dims(calc($boxDims - 6px));
            background: #cfcfcf;
            border-radius: 2px;
            transition: 0.3s all ease;
            @extend .hide;

            &.enabled {
              @extend .show;
            }
          }
        }

        .legalText {
          margin-left: 1rem;

          .small,
          .link {
            color: #cfcfcf;
            display: inline;
            font-family: Lychee;
            font-size: 1vw;
            font-weight: 400;
            line-height: 160%;

            @include devicesMax(tablet) {
              font-size: 1.5vw;
            }

            @include devicesMax(mobile) {
              font-size: 3.25vw;
            }
          }

          .link {
            text-decoration: underline;
          }
        }
      }
    }

    .responseMessage {
      @include position(absolute, 101%, auto, auto, 0);
      color: #ff0000;
      font-family: Lychee;
      font-size: 1rem;
      font-weight: 400;
      line-height: 160%;
      margin: 0 auto;
      text-align: left;
      width: 100%;

      @include devicesMax(tablet) {
        font-size: 14px;
      }
    }
  }

  .submitButton {
    @include dims(18vw, 3.5vw);
    border: 1px solid #ce1953;
    border-radius: 36px;
    color: #ce1953;
    font-family: LS-VG5000;
    font-size: 1.5vw;
    margin-bottom: 0.5vw;
    opacity: 1;
    pointer-events: auto;
    transition: 0.4s all ease;

    display: grid;
    place-items: center;

    @include devicesMax(tablet) {
      @include dims(24vw, 6vw);
      font-size: 2.5vw;
    }

    @include devicesMax(mobile) {
      @include dims(60vw, 12vw);
      font-size: 5.5vw;
      margin: 15vw auto 0 auto;
      padding-bottom: 0.2ch;
    }

    &.disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  .imgC {
    z-index: 100;

    @include devicesMax(tablet) {
      display: none;
    }

    .img {
      @include dims(100%);
      display: block;
      object-fit: contain;
    }

    &.left {
      @include position(absolute, 10vw, auto, auto, 5vw);
      @include dims(18vw, auto);
      transform: rotate(18deg);
    }

    &.right {
      @include position(absolute, 30vw, auto, auto, 80vw);
      @include dims(12vw, auto);
      transform: rotate(-9deg);
    }
  }
}
