@import "../global.scss";

.creators {
  .textC {
    margin: 8vw 10vw 0 4vw;

    .small {
      @include typo(LS-VG5000, 18px, null, null, null);
      color: $californiaSunset;
      display: block;
      margin-bottom: 0.5rem;
    }

    .title {
      @include typo(Lychee, 60px, null, null, null);
      color: $stonewallGrey;
      margin-bottom: 2vw;
    }

    .subtitle {
      @include typo(Lychee, 20px, null, 1.4, null);
      color: $stonewallGrey;
      margin-bottom: 2vw;
    }

    .btnC {
      @include dims(15vw, 2.5vw);
      display: block;
      margin-right: auto;
    }
  }

  .intro {
    display: flex;

    .statsC {
      position: relative;

      .imgC {
        @include dims(31vw, auto);
        border-radius: 32px;
        overflow: hidden;

        display: grid;
        place-items: center;
      }

      .statC {
        @include position(absolute, 5%, auto, auto, 97%);
        background: rgb(22, 22, 30, 0.3);
        border-radius: 16px;
        padding: 2rem 1.5rem;
        backdrop-filter: blur(16px);

        display: flex;
        flex-direction: column;

        .stat {
          flex-shrink: 0;
          margin-bottom: 4vw;

          &:last-child {
            margin-bottom: 0;
          }

          &:last-child {
            .data {
              color: $boogerBuster;
              margin-bottom: 0;
            }
          }

          .label {
            @include typo(Lychee, 18px, null, null, italic);
            color: $californiaSunset;
            margin-bottom: 4vw;
            white-space: nowrap;
          }

          .data {
            @include typo(LS-VG5000, 43px, null, null, null);
            color: $stonewallGrey;
            display: flex;
            gap: 0.5rem;
            white-space: nowrap;
          }

          .iconC {
            @include dims(20px);
          }
        }
      }

      .credentials {
        @include position(absolute, 55%, auto, auto, -45%);
        background: rgb(22, 22, 30, 0.3);
        backdrop-filter: blur(16px);
        border-radius: 16px;
        padding: 2rem;

        display: grid;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 1vw;

        .info {
          display: grid;
          grid-template-columns: 6vw auto;

          .label {
            @include typo(Lychee, 18px, null, null, italic);
            color: $californiaSunset;
          }

          .data {
            @include typo(Lychee, 18px, null, null, normal);
            color: $stonewallGrey;
          }
        }
      }
    }
  }

  .foundations {
    position: relative;

    .title {
      @include typo(Lychee, 90px, null, 1.1, null);
      color: $stonewallGrey;
      margin: 10vw 4vw;
      text-shadow: 12px 7px 21px rgba(0, 0, 0, 0.6);

      .italic {
        @include typo(LaicaBItalic, 90px, null, null, null);
      }
    }

    .small {
      @include dims(27vw, auto);
      @include typo(Lychee, 20px, null, 1.4, null);
      color: $stonewallGrey;
      display: block;
      margin-left: 40vw;
      margin-top: 10vw;
    }

    .imgC {
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      z-index: -1;

      &::before {
        content: "";
        @include position(absolute, auto, 0, -10px, 0);
        @include dims(auto, 50%);
        background: linear-gradient(0deg, $eigengrau, rgb(255, 255, 255, 0));
        z-index: 10;
      }

      &.left {
        @include position(absolute, 25%, auto, auto, 5%);
        @include dims(10vw, auto);
      }

      &.mid {
        @include position(absolute, -15%, auto, auto, 25%);
        @include dims(13vw, auto);
      }

      &.right {
        @include position(absolute, 15%, auto, auto, 55%);
        @include dims(20vw, auto);
      }
    }
  }

  .conclusion {
    position: relative;
    margin-top: 10vw;

    .marqueeC {
      margin: 7vw 0;

      .mText {
        @include typo(LS-VG5000, 152px, null, null, null);
        color: $californiaSunset;
        padding: 2.5vw;
      }
    }

    .text {
      @include dims(50vw, auto);
      @include typo(Lychee, 35px, null, 1.4, null);
      color: $stonewallGrey;
      margin: 0 auto;
      text-align: center;
    }

    .imgC {
      @include position(absolute, 75%, 0, auto, auto);
      @include dims(15vw, auto);
    }
  }

  .featuredProjects {
    padding-top: 10vw;

    .lookUp {
      color: #c1c1c1;
      display: block;
      margin: 4vw auto;
      text-align: center;

      font-family: Lychee;
      font-size: 1.25vw;
      line-height: 150%;

      .link {
        color: #ce1953;
        font-family: LS-VG5000;
        text-decoration: underline;
      }
    }
  }

  .faces {
    .singleTitleC {
      margin: 10vw auto;

      .title {
        @include dims(65vw, auto);
        @include typo(Lychee, 80px, null, 1.4, null);

        color: #c1c1c1;
        margin: 0 auto;
        text-align: center;

        .italic {
          color: #ce1953;
          font-family: LaicaBItalic;
        }
      }
    }

    .gridC {
      padding: 0 4vw;
    }
  }

  .why {
    padding-bottom: 10vw;
    min-height: 100vh;
    position: relative;

    display: flex;
    align-items: flex-end;
    overflow-x: hidden;

    .title {
      @include dims(35vw, auto);
      @include position(absolute, 5vw, auto, auto, 5vw);
      @include typo(Lychee, 70px, null, 1.1, null);
      color: $stonewallGrey;
      margin-bottom: 2vw;

      .italic {
        color: #ce1953;
        font-family: LaicaBItalic;
      }
    }

    .hSection {
      padding-left: 30vw;
      padding-right: 20vw;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }
  }

  .waitingForYou {
    @include dims(100%, 90vh);

    display: flex;
    flex-direction: column;
    justify-content: center;

    .mText {
      @include typo(Lychee, 160px, 700, null, null);
      color: $stonewallGrey;
      padding: 2.5vw 0;

      display: flex;
      align-items: center;
      flex-shrink: 0;

      .seperator {
        @include dims(250px, 10px);
        background: $stonewallGrey;
        display: inline-block;
        margin: 2vw 3vw 0 3vw;
      }
    }

    .join {
      @include typo(Lychee, 40px, null, null, null);
      color: #c1c1c1;
      display: block;
      margin: 2vw auto;
      text-align: center;

      .link {
        color: #ce1953;
        font-family: LS-VG5000;
        text-decoration: underline;
      }
    }
  }
}
