@import "../_global.scss";
@import "../ContiniousRotate.scss";

.home {
  background: $eigengrau;

  .hero {
    @include dims(100%, 115vh);
    background: #000;
    padding-top: 10vh;
    overflow: hidden;
    position: relative;

    @include devicesMax(tablet) {
      @include dims(100%, auto);
    }

    @include devicesMax(mobile) {
      display: flex;
      flex-direction: column;
    }

    .textC {
      display: inline-block;
      margin: 10vw auto 0 4vw;
      position: relative;
      transform: translateZ(1px);
      z-index: 100;

      @include devicesMax(tablet) {
        margin: 12vw 0 95vw 4vw;
      }

      @include devicesMax(mobile) {
        margin: 15vw auto 0 auto;
      }

      .title {
        @include typo(Lychee, 30px, null, 1.2, null);
        color: #c1c1c1;
        margin-bottom: 4vw;
        width: 30vw;

        @include devicesMax(tablet) {
          margin-bottom: 7vw;
          width: 60vw;
        }

        @include devicesMax(mobile) {
          margin-bottom: 12vw;
          text-align: center;
          width: 90vw;
        }

        .inner {
          color: #ce1953;
          font-family: LaicaBItalic;
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        column-gap: 2vw;

        @include devicesMax(mobile) {
          flex-direction: column;
        }

        .button {
          @include dims(14vw, 3vw);
          @include typo(LS-VG5000, 20px, null, null, null);
          border: 1px solid #c1c1c1;
          border-radius: 5vmin;
          color: #c1c1c1;
          margin-bottom: 2.5vw;
          padding-bottom: 0.2ch;

          display: grid;
          place-items: center;

          @include devicesMax(tablet) {
            @include dims(28vw, 6vw);
          }

          @include devicesMax(mobile) {
            @include dims(54vw, 10vw);
            @include typo(LS-VG5000, 16px, null, null, null);
            margin-bottom: 7.5vw;
          }
        }
      }
    }

    .marqueeC {
      @include position(absolute, 100vh, 0, auto, 0);
      padding: 0 0 2% 0;
      transform: translateY(-100%);
      z-index: 10;

      @include devicesMax(mobile) {
        @include position(absolute, auto, 0, 0, 0);
      }

      .mText {
        @include typo(Lychee, 130px, null, 1.2, null);
        color: #fff;
        flex-shrink: 0;

        display: flex;
        align-items: center;

        @include devicesMax(tablet) {
          @include typo(Lychee, 90px, null, 1.2, null);
        }

        @include devicesMax(mobile) {
          @include typo(Lychee, 40px, null, 1.2, null);
        }

        .italic {
          font-style: italic;
        }

        .seperator {
          @include dims(3ch, 0.15ch);
          background: #fff;
          display: inline-block;
          margin: 2vw 3vw 0 3vw;
        }
      }
    }

    .bgVideoC {
      @include position(absolute, 0, 0, 0, 0);
      z-index: 5;

      display: flex;
      align-items: center;
      justify-content: center;

      @include devicesMax(tablet) {
        @include position(absolute, auto, 0, 0, 0);
      }

      @include devicesMax(mobile) {
        @include position(relative, auto, auto, auto, auto);
        margin-top: -30vw;
      }

      .video {
        @include dims(100%, auto);
        min-height: 90vh;
        display: block;
        object-fit: cover;

        @include devicesMax(mobile) {
          @include dims(150%, auto);
          margin-right: 15vw;
        }
      }

      .playBtn {
        @include position(absolute, 50%, auto, auto, 50%);
        @include dims(6vw);
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        border-radius: 50%;
        overflow: hidden;
        transform: translate(-50%, 70%);
        @extend .cursorPointer;
        z-index: 200;

        display: flex;
        align-items: center;
        justify-content: center;

        @include devicesMax(tablet) {
          @include position(absolute, -5%, auto, auto, 85%);
          @include dims(15vw);
        }

        @include devicesMax(mobile) {
          @include position(absolute, 40%, auto, auto, 50%);
          @include dims(25vw);
        }

        .iconTri {
          @include dims(25%);
          @include position(absolute, 50%, auto, auto, 50%);
          transform: translate(-50%, -50%);
        }

        .text {
          @include dims(100%);
          @include position(absolute, 0, 0, 0, 0);
          transform-origin: center;
          padding: 8px;

          @include rotating();
        }
      }
    }
  }

  .greeting {
    display: flex;
    padding-top: 15vw;
    position: relative;

    .textC {
      position: relative;
      margin: 0 auto;

      .text {
        @include typo(Lychee, 53px, null, 1.5, null);
        color: #c1c1c1;
        margin: 0 auto;
        text-align: center;
        z-index: 10;

        @include devicesMax(tablet) {
          @include typo(Lychee, 53px, null, 1.5, null);
          width: 95%;
        }

        @include devicesMax(mobile) {
          @include typo(Lychee, 30px, null, 1.2, null);
          width: 90vw;
        }

        .line {
          display: block;

          @include devicesMax(tablet) {
            display: inline;
          }
        }

        br {
          @include devicesMax(mobile) {
            display: none;
          }
        }

        .resetMargin {
          @include devicesMax(tablet) {
            margin: 0 !important;
          }
        }

        .italic {
          @include typo(LaicaBItalic, 63px, null, 1.5, null);
          color: $californiaSunset;

          @include devicesMax(tablet) {
            @include typo(LaicaBItalic, 56px, null, 1.5, null);
          }

          @include devicesMax(mobile) {
            @include typo(LaicaBItalic, 30px, null, 1.2, null);
          }
        }
      }

      .imgC {
        @include position(absolute, 6vw, auto, auto, 17vw);
        @include dims(23vw);
        transform: rotate(-4deg);

        @include devicesMax(tablet) {
          @include position(relative, auto, auto, auto, auto);
          @include dims(63vw);
          margin: 15vw auto;
        }

        @include devicesMax(mobile) {
          @include dims(80vw);
        }
      }
    }

    &:before {
      $height: 20vw;
      $heightTablet: 60vw;
      content: "";
      @include position(absolute, 0, 0, auto, 0);
      @include dims(100%, $height);
      transform: translateY(calc(-1 * calc($height - 2px)));
      background: linear-gradient(0deg, #16161c 20%, rgb(255, 255, 255, 0));
      pointer-events: none;
      z-index: 8;

      @include devicesMax(tablet) {
        @include dims(100%, $heightTablet);
        transform: translateY(calc(-1 * $heightTablet));
      }
    }
  }

  .horizontalScroll {
    min-height: 100vh;
    position: relative;

    display: flex;
    align-items: center;
    overflow: hidden;

    @include devicesMax(tablet) {
      min-height: auto;
    }

    .hScrollContent {
      padding-left: 10vw;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      @include devicesMax(tablet) {
        padding-left: 0;
        flex-direction: column;
        width: 100%;
      }

      .textC {
        margin: 10vw 5vw;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }
    }

    .reels {
      @include dims(auto, 100vh);
      margin: 0 15vw 0 25vw;
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      @include devicesMax(tablet) {
        @include dims(auto);
        margin: 10vw 0;
      }

      @include devicesMax(mobile) {
        @include dims(auto);
        margin: 50vw 0 20vw 0;
      }

      .button {
        @include position(absolute, 30vw, auto, auto, -15vw);
        @include dims(20vw, 4vw);
        @include typo(LS-VG5000, 20px, null, null, null);
        background: #131317;
        border: 2px solid #ce1953;
        border-radius: 4vmin;
        color: #c1c1c1;
        margin-bottom: 2.5vw;

        display: grid;
        place-items: center;

        @include devicesMax(tablet) {
          @include position(absolute, 60vw, auto, auto, -20vw);
          @include dims(32vw, 6vw);
        }

        @include devicesMax(mobile) {
          @include position(absolute, auto, auto, -10vw, 50%);
          @include dims(90vw, 16vw);
          border-radius: 10vmin;
          transform: rotate(-4deg) translateX(-50%);
        }
      }

      .instaxC {
        @include position(absolute, 15vw, auto, auto, -10vw);
        @include dims(7vw, auto);
        transform: rotate(-14deg);

        @include devicesMax(tablet) {
          @include dims(14vw, auto);
        }

        @include devicesMax(mobile) {
          @include position(absolute, -180px, auto, auto, 0);
          @include dims(28vw, auto);
        }

        .img {
          @include dims(100%);
          display: block;
          object-fit: contain;
        }
      }

      .agencyC {
        @include position(absolute, 35vw, auto, auto, 15vw);
        @include dims(20vw, auto);
        transform: rotate(-18deg);

        @include devicesMax(tablet) {
          @include position(absolute, 55vw, auto, auto, 40vw);
          @include dims(30vw, auto);
        }

        @include devicesMax(mobile) {
          @include position(absolute, -120px, auto, auto, 40vw);
          @include dims(45vw, auto);
          transform: rotate(18deg);
        }

        .img {
          @include dims(100%);
          display: block;
          object-fit: contain;
        }
      }

      .imgC {
        @include dims(25vw, auto);

        @include devicesMax(tablet) {
          @include dims(45vw, auto);
        }

        @include devicesMax(mobile) {
          @include dims(80vw, auto);
        }

        .img {
          @include dims(100%);
          display: block;
          object-fit: contain;
        }
      }
    }
  }

  .marquee {
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include devicesMax(mobile) {
      margin: 20vw 0;
    }

    .transformC {
      transform: rotate(8deg);
      padding: 5vw 0;
      z-index: 10;

      &:nth-child(2) {
        margin-top: -20vw;
        z-index: 5;

        .mText {
          color: #131317;
        }
      }

      .mText {
        @include typo(Lychee, 210px, 700, null, null);
        flex-shrink: 0;
        color: #c1c1c1;

        display: flex;
        align-items: center;

        @include devicesMax(tablet) {
          @include typo(Lychee, 110px, 700, null, null);
        }

        @include devicesMax(mobile) {
          @include typo(Lychee, 74px, 700, null, null);
        }

        .seperator {
          @include dims(2.75ch, 0.15ch);
          background: #c1c1c1;
          display: inline-block;
          margin: 2vw 3vw 0 3vw;
        }
      }
    }
  }

  .works {
    margin-top: 10vw;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    @include devicesMax(tablet) {
      margin-bottom: 10vw;
    }

    .titleC {
      margin: 0 auto;
      text-align: center;

      .title {
        @include typo(Lychee, 80px, null, 1.3, null);
        color: #c1c1c1;
        margin-bottom: 2.5vw;

        @include devicesMax(tablet) {
          @include typo(Lychee, 80px, null, 1.1, null);
          margin-bottom: 5vw;
        }

        @include devicesMax(mobile) {
          @include typo(Lychee, 45px, null, 1.1, null);
          margin-bottom: 10vw;
        }

        .italic {
          color: #ce1953;
          font-family: LaicaBItalic;
        }
      }

      .text {
        @include typo(Lychee, 35px, null, 1.5, null);
        color: #c1c1c1;
        margin: 0 auto;

        @include devicesMax(mobile) {
          @include typo(Lychee, 20px, null, 1.5, null);
          width: 80vw;
        }
      }
    }

    .worksGrid {
      padding: 15vw 4vw 0 4vw;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2.5rem;

      @include devicesMax(mobile) {
        grid-template-columns: repeat(1, 1fr);
        padding: 15vw 8vw 0 8vw;
      }

      .gridItemC {
        overflow: hidden;
        position: relative;
        border-radius: 8px;

        &::before {
          // for apsect ratio
          content: "";
          display: block;
          padding-bottom: 100%;
        }

        @media (hover: hover) {
          &:hover {
            .infoC {
              opacity: 1;
            }

            .img {
              filter: blur(32px) brightness(1.5);
            }
          }
        }

        .infoC {
          @include position(absolute, 0, 0, 0, 0);
          @include dims(100%);
          background: rgba(255, 255, 255, 0.3);
          padding: 2.5vw;
          z-index: 100;
          opacity: 0;
          transition: 0.4s all ease;

          .info {
            display: flex;
            flex-direction: column;

            .label {
              color: #131317;
              font-family: Lychee;
              font-size: 1rem;
              line-height: 100%;
              margin-bottom: 0.75rem;
            }

            .text {
              color: #131317;
              font-family: Lychee;
              font-weight: 700;
              font-size: 1.5rem;
              line-height: 100%;
            }

            .logoC {
              @include dims(auto, 2vw);
              margin-bottom: 1.5vw;
              margin-right: auto;

              .logo {
                @include dims(100%);
                display: block;
                object-fit: contain;
              }
            }
          }
        }

        .img {
          @include position(absolute, 0, 0, 0, 0);
          @include dims(100%);
          max-width: 100%;
          transition: 0.4s all ease-in-out;
          transform: scale(1.01);

          display: block;
          object-fit: cover;

          // Alternate Version

          margin: auto;

          // top: 50%;
          // left: 50%;
          // transform: translate(-50%, -50%);
        }
      }
    }

    .lookUp {
      color: #c1c1c1;
      margin: 5vw 0;
      text-align: center;

      font-family: Lychee;
      font-size: 1.25vw;
      line-height: 150%;

      .link {
        color: #ce1953;
        font-family: LS-VG5000;
        text-decoration: underline;
      }
    }
  }

  .stats {
    @include dims(100vw, 100vh);
    overflow: hidden;
    position: relative;

    @include devicesMax(tablet) {
      @include dims(100vw, auto);
    }

    @include devicesMax(mobile) {
      margin-bottom: 30vw;
    }

    .topC {
      @include position(absolute, 0, 0, 0, 0);
      pointer-events: none;
      z-index: 200;

      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @include devicesMax(tablet) {
        flex-direction: column;
      }

      @include devicesMax(mobile) {
        margin: 0 auto;
        padding: 8vw 4vw;
      }

      .titleC {
        color: $waxPoetic;
        margin: 8vw 0 0 6vw;

        @include devicesMax(mobile) {
          margin: 0;
        }

        .title {
          @include typo(Lychee, 65px, null, 1.2, null);
          margin-bottom: 2vw;

          @include devicesMax(mobile) {
            @include typo(Lychee, 35px, null, 1.2, null);
            margin-bottom: 4vw;
            text-align: center;
          }

          .italic {
            @include typo(LaicaB, 65px, null, 1.2, italic);

            @include devicesMax(mobile) {
              @include typo(LaicaB, 35px, null, 1.2, italic);
              text-align: center;
            }
          }
        }

        .text {
          @include typo(Lychee, 20px, null, 1.6, null);
          width: 25vw;

          @include devicesMax(tablet) {
            width: 35vw;
          }

          @include devicesMax(mobile) {
            @include typo(Lychee, 15px, null, 1.6, null);
            margin: 0 auto;
            width: 90%;
            text-align: center;
          }
        }
      }

      .imgC {
        margin: 4vw 8vw 0 0;
        transform: rotate(16deg);

        @include devicesMax(tablet) {
          @include dims(40vw, auto);
          margin: 0 0 60vw 4vw;
        }

        @include devicesMax(mobile) {
          @include dims(60vw, auto);
          margin: 0 auto;
          padding-bottom: 60vw;
        }

        .img {
          transform: rotate(20deg);
        }
      }

      .small {
        @include position(absolute, auto, 2vw, 2%, auto);
        @include typo(Lychee, 16px, null, null, null);
        color: $bleachedSilk;

        @include devicesMax(tablet) {
          @include position(absolute, auto, 7vw, 0, auto);
          opacity: 0.3;
        }

        @include devicesMax(mobile) {
          @include position(absolute, auto, 4vw, 0, 50%);
          @include typo(Lychee, 12px, null, 1.4, null);
          text-align: center;
          transform: translateX(-50%);
          width: 80%;
        }
      }
    }

    .oWrapper {
      @include position(absolute, auto, auto, auto, -12.5vw);
      @include dims(125vw, 100vh);
      overflow: hidden;
      will-change: transform;

      @include devicesMax(tablet) {
        @include position(relative, auto, auto, auto, auto);
        @include dims(100%, auto);
        display: flex;
      }

      &.blue {
        background: $bluePencil;
        z-index: 120;

        @include devicesMax(tablet) {
          @include dims(100vw, 100vw);
        }

        @include devicesMax(mobile) {
          @include dims(100vw, 140vw);
        }
      }

      &.pink {
        background: $californiaSunset;
        z-index: 110;

        @include devicesMax(tablet) {
          @include dims(100vw, 60vw);
        }

        @include devicesMax(mobile) {
          @include dims(100%, 150vw);
        }
      }

      &.black {
        background: $eigengrau;
        z-index: 100;

        @include devicesMax(tablet) {
          @include dims(100vw, 100vw);
        }

        @include devicesMax(mobile) {
          @include dims(100%, 90vw);
        }
      }

      .screen {
        @include position(absolute, 0, auto, 0, 12.5vw);
        @include dims(100vw, auto);

        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        @include devicesMax(tablet) {
          @include position(relative, auto, auto, auto, auto);
        }

        .indexC {
          @include position(absolute, auto, auto, 3%, 6vw);
          @include typo(Lychee, 16px, null, null, null);
          border: 1px solid $bleachedSilk;
          border-radius: 32px;
          color: $bleachedSilk;
          padding: 1rem 2rem;

          @include devicesMax(tablet) {
            display: none;
          }

          .index {
            @include typo(Lychee, 16px, null, null, null);
            color: $bleachedSilk;
          }
        }

        .statC {
          margin-top: 500px;
          margin-right: 35vw;

          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;

          @include devicesMax(tablet) {
            margin: auto 7vw 5vw auto;
          }

          @include devicesMax(mobile) {
            margin: auto 12vw 20vw auto;

            &.pink {
              margin: 20vw 12vw auto auto;
            }
          }

          .statText {
            color: $waxPoetic;
            margin-bottom: 2vw;
            position: relative;

            @include devicesMax(mobile) {
              margin-bottom: 4vw;
            }

            .num60 {
              @include typo(LS-VG5000-Shifted, 200px, null, null, null);

              @include devicesMax(mobile) {
                @include typo(LS-VG5000-Shifted, 82px, null, null, null);
              }
            }

            .num7 {
              @include typo(LS-VG5000-Shifted, 200px, null, null, null);

              @include devicesMax(mobile) {
                @include typo(LS-VG5000-Shifted, 152px, null, null, null);
              }
            }

            .num20 {
              @include typo(LS-VG5000-Shifted, 200px, null, null, null);

              @include devicesMax(mobile) {
                @include typo(LS-VG5000-Shifted, 82px, null, null, null);
              }
            }

            .asterisk {
              @include position(absolute, 0, 0, auto, auto);
              @include typo(LS-VG5000, 60px, null, null, null);
              display: inline-block;
              transform: translate(100%, 0);

              @include devicesMax(mobile) {
                @include position(absolute, 0, 3%, auto, auto);
                @include typo(LS-VG5000, 40px, null, null, null);
              }
            }

            .million {
              @include typo(LS-VG5000-Shifted, 140px, null, null, null);

              @include devicesMax(mobile) {
                @include typo(LS-VG5000-Shifted, 60px, null, null, null);
              }
            }

            .thousand {
              @include typo(LS-VG5000-Shifted, 140px, null, null, null);

              @include devicesMax(mobile) {
                @include typo(LS-VG5000-Shifted, 100px, null, null, null);
              }
            }

            .percent {
              @include typo(Lychee, 100px, null, null, null);
              padding-left: 1vw;
              transform: translate(100%, 0);

              @include devicesMax(mobile) {
                @include typo(Lychee, 40px, null, null, null);
                padding-left: 2vw;
              }
            }
          }

          .desc {
            @include typo(Lychee, 40px, null, 1.2, null);
            @include dims(30vw, auto);
            color: $waxPoetic;
            text-align: right;

            @include devicesMax(tablet) {
              @include typo(Lychee, 40px, null, 1.2, null);
              @include dims(60vw, auto);
            }

            @include devicesMax(mobile) {
              @include typo(Lychee, 20px, null, 1.2, null);
              @include dims(80%, auto);
            }
          }
        }
      }
    }
  }

  .references {
    margin-top: 10vw;

    .titleC {
      margin: 0 auto 10vw auto;
      text-align: center;

      .imgC {
        @include dims(25vw, auto);
        margin: 0 auto 2vw auto;

        @include devicesMax(tablet) {
          @include dims(45vw, auto);
          margin-bottom: 5vw;
        }

        @include devicesMax(mobile) {
          @include dims(65vw, auto);
          margin-bottom: 10vw;
        }

        .img {
          @include dims(100%);
          display: block;
          object-fit: contain;
        }
      }

      .title {
        @include dims(40vw, auto);
        @include typo(Lychee, 64px, null, 1.3, null);
        color: #c1c1c1;
        margin: 0 auto;
        margin-bottom: 2.5vw;

        @include devicesMax(tablet) {
          @include dims(70vw, auto);
          @include typo(Lychee, 64px, null, 1.1, null);
          margin: 0 auto 5vw auto;
        }

        @include devicesMax(mobile) {
          @include dims(100%, auto);
          @include typo(Lychee, 45px, null, 1.1, null);
          margin: 0 auto 10vw auto;
        }

        .italic {
          @include typo(LaicaBItalic, 64px, null, 1.3, null);
          color: #ce1953;

          @include devicesMax(mobile) {
            @include typo(LaicaBItalic, 45px, null, 1.1, null);
          }
        }
      }

      .text {
        @include typo(Lychee, 20px, null, 1.5, null);
        color: #c1c1c1;
        margin: 0 auto;

        br {
          @include devicesMax(mobile) {
            display: none;
          }
        }

        @include devicesMax(mobile) {
          @include typo(Lychee, 20px, null, 1.5, null);
          width: 90vw;
        }
      }
    }

    .logoGrid {
      overflow: hidden;
      padding: 5vw 0;

      .row {
        margin-bottom: 2vw;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;

        &:last-child {
          margin-bottom: 0;
        }

        @include devicesMax(tablet) {
          gap: 1vw;
          margin-bottom: 1.5vw;
        }

        @include devicesMax(mobile) {
          flex-wrap: wrap;
          gap: 4vw;
          margin-bottom: 4vw;
        }
      }

      .logoC {
        @include dims(15vw);
        border: 1px solid #ce1953;
        border-radius: 50%;
        flex-shrink: 0;
        position: relative;

        @include devicesMax(tablet) {
          @include dims(15.5vw);
        }

        @include devicesMax(mobile) {
          @include dims(27vw);
        }

        &::before {
          // for apsect ratio
          content: "";
          display: block;
          padding-bottom: 100%;
        }

        &.logoDisney {
          transform: translate(-2vw, 0);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoAdidas {
          transform: translate(-2vw, -5vw);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoPhilips {
          transform: translate(0, -2vw);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoNike {
          transform: translate(3vw, 0);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoNestle {
          transform: translate(4vw, 5vw);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoEsteeLauder {
          transform: translate(2vw, -5vw);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoLoreal {
          transform: translate(-3vw, -6vw);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoDyson {
          transform: translate(0, -4vw);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoStarbucks {
          transform: translate(0, 0);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        .img {
          position: absolute;
          max-width: 100%;

          // Alternate Version
          // top: 0;
          // bottom: 0;
          // right: 0;
          // left: 0;
          // margin: auto;

          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          @include devicesMax(tablet) {
            max-height: 45%;
            max-width: 75%;
          }

          @include devicesMax(mobile) {
            max-height: 45%;
            max-width: 75%;
          }
        }
      }
    }
  }

  .moveOn {
    margin: 8vw 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include devicesMax(tablet) {
      margin: 15vw 0;
    }

    .titleC {
      margin: 0 auto 3vw auto;
      text-align: center;

      .imgC {
        @include dims(25vw, auto);
        margin: 0 auto 2vw auto;

        .img {
          @include dims(100%);
          display: block;
          object-fit: contain;
        }
      }

      .title {
        color: #c1c1c1;
        margin-bottom: 2.5vw;

        @include devicesMax(mobile) {
          @include typo(LaicaBItalic, 40px, null, 0.8, null);
        }

        .italic {
          @include typo(LaicaBItalic, 82px, null, 0.6, null);

          @include devicesMax(tablet) {
            @include typo(LaicaBItalic, 68px, null, 1.4, null);
          }

          @include devicesMax(mobile) {
            @include typo(LaicaBItalic, 45px, null, 0.8, null);
          }
        }

        &:nth-child(1) {
          @include typo(Lychee, 72px, null, null, null);

          @include devicesMax(tablet) {
            @include typo(Lychee, 64px, null, 0.8, null);
          }

          @include devicesMax(mobile) {
            @include typo(Lychee, 40px, null, 1.1, null);
          }
        }
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      column-gap: 2vw;

      @include devicesMax(tablet) {
        margin-top: 5vw;
      }

      @include devicesMax(mobile) {
        flex-direction: column;
      }

      .button {
        @include typo(LS-VG5000, 24px, null, 0.8, null);
        @include dims(20vw, 4vw);
        border: 2px solid #ce1953;
        border-radius: 36px;
        color: #c1c1c1;
        margin-bottom: 2.5vw;
        padding-bottom: 0.25ch;

        display: grid;
        place-items: center;

        @include devicesMax(tablet) {
          @include dims(30vw, 6vw);
        }

        @include devicesMax(mobile) {
          @include dims(80vw, 14vw);
          border: 1px solid #ce1953;
          margin-bottom: 5vw;
        }
      }
    }
  }
}

.modalContent {
  @include dims(100vw, 100vh);
  background: #000;

  display: flex;
  align-items: center;
  justify-content: center;

  .video {
    max-width: 100vw;
    max-height: 100vh;
  }
}
