@import "../_global.scss";
@import "../ContiniousRotate.scss";

.home {
  background: $eigengrau;

  .hero {
    @include dims(100%, 100vh);
    overflow: hidden;
    position: relative;

    @include devicesMax(tablet) {
      background-image: url(../img/banner-touch.png);
    }

    @include devicesMax(mobile) {
      background-size: 120%;
      background-position: bottom right;
    }

    &:after {
      content: "";
      @include position(absolute, auto, 0, -10px, 0);
      @include dims(100%, 50%);
      background: linear-gradient(0deg, #16161c, rgb(255, 255, 255, 0));
      z-index: 0;
    }

    .textC {
      margin: 15vw auto 0 3vw;
      position: relative;
      z-index: 10;

      @include devicesMax(tablet) {
        margin: 12vw 0 0 4vw;
      }

      .title {
        @include typo(Lychee, 30px, null, 1.2, null);
        color: #c1c1c1;
        margin-bottom: 4vw;
        width: 30vw;

        @include devicesMax(tablet) {
          margin-bottom: 7vw;
          margin-top: 30vw;
          width: 60vw;
        }

        @include devicesMax(mobile) {
          margin-bottom: 12vw;
          text-align: center;
          width: 90vw;
        }

        .inner {
          color: #ce1953;
          font-family: LaicaBItalic;
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        column-gap: 2vw;

        @include devicesMax(mobile) {
          flex-direction: column;
        }

        .button {
          @include dims(14vw, 3vw);
          @include typo(LS-VG5000, 20px, null, null, null);
          border: 1px solid #c1c1c1;
          border-radius: 5vmin;
          color: #c1c1c1;
          margin-bottom: 2.5vw;
          padding-bottom: 0.2ch;

          display: grid;
          place-items: center;

          @include devicesMax(tablet) {
            @include dims(30vw, 6vw);
          }

          @include devicesMax(mobile) {
            @include dims(64vw, 11vw);
            margin-bottom: 7.5vw;
          }
        }
      }
    }

    .marqueeC {
      @include position(absolute, auto, 0, 0, 0);
      padding: 0 0 5vw 0;
      z-index: 10;

      .mText {
        @include typo(Lychee, 130px, null, 1.2, null);
        color: #fff;
        flex-shrink: 0;

        display: flex;
        align-items: center;

        @include devicesMax(tablet) {
          @include typo(Lychee, 90px, null, 1.2, null);
        }

        .italic {
          font-style: italic;
        }

        .seperator {
          @include dims(200px, 10px);
          background: #fff;
          display: inline-block;
          margin: 2vw 3vw 0 3vw;
        }
      }
    }

    .bgVideoC {
      @include position(absolute, 0, 0, 0, 0);

      display: flex;
      align-items: center;
      justify-content: center;

      .video {
        @include dims(100%);
        object-fit: cover;
      }

      .playBtn {
        @include position(absolute, 50%, auto, auto, 50%);
        @include dims(6vw);
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        border-radius: 50%;
        overflow: hidden;
        transform: translate(-50%, -50%);
        @extend .cursorPointer;
        z-index: 100;

        display: flex;
        align-items: center;
        justify-content: center;

        .iconTri {
          @include dims(15%);
          @include position(absolute, 50%, auto, auto, 50%);
          transform: translate(-50%, -50%);
        }

        .text {
          @include dims(100%);
          @include position(absolute, 0, 0, 0, 0);
          transform-origin: center;
          padding: 8px;

          @include rotating();
        }
      }
    }
  }

  .greeting {
    margin: 15vw auto 0 auto;

    .textC {
      position: relative;

      .text {
        @include typo(Lychee, 53px, null, 1.5, null);
        color: #c1c1c1;
        margin: 0 auto;
        text-align: center;

        @include devicesMax(tablet) {
          @include typo(Lychee, 53px, null, 1.2, null);
        }

        @include devicesMax(mobile) {
          @include typo(Lychee, 30px, null, 1.2, null);
          width: 90vw;
        }

        br {
          @include devicesMax(mobile) {
            display: none;
          }
        }

        .italic {
          @include typo(LaicaBItalic, 63px, null, 1.5, null);
          color: #ce1953;

          @include devicesMax(tablet) {
            @include typo(LaicaBItalic, 56px, null, 1.5, null);
          }

          @include devicesMax(mobile) {
            @include typo(LaicaBItalic, 30px, null, 1.2, null);
          }
        }

        .margin1 {
          margin-right: 15vw;

          @include devicesMax(tablet) {
            margin: 0;
          }
        }

        .margin2 {
          margin-left: 7vw;

          @include devicesMax(tablet) {
            margin: 0;
          }
        }

        .margin3 {
          margin-left: 20vw;

          @include devicesMax(tablet) {
            margin: 0;
          }
        }

        .margin4 {
          margin-right: 24vw;

          @include devicesMax(tablet) {
            margin: 0;
          }
        }

        .margin5 {
          margin-left: 13vw;

          @include devicesMax(tablet) {
            margin: 0;
          }
        }
      }

      .imgC {
        @include position(absolute, 6vw, auto, auto, 32vw);
        @include dims(23vw);
        transform: rotate(-9deg);

        @include devicesMax(tablet) {
          @include position(relative, auto, auto, auto, auto);
          @include dims(63vw);
          margin: 15vw auto;
        }

        @include devicesMax(mobile) {
          @include dims(80vw);
        }
      }
    }
  }

  .horizontalScroll {
    min-height: 100vh;
    position: relative;

    display: flex;
    align-items: center;
    overflow: hidden;

    @include devicesMax(tablet) {
      min-height: auto;
    }

    .hScrollContent {
      padding-left: 10vw;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      @include devicesMax(tablet) {
        padding-left: 0;
        flex-direction: column;
        width: 100%;
      }

      .textC {
        margin: 10vw 5vw;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }
    }

    .reels {
      @include dims(auto, 100vh);
      margin: 0 15vw 0 25vw;
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      @include devicesMax(tablet) {
        @include dims(auto);
        margin: 10vw 0;
      }

      @include devicesMax(mobile) {
        @include dims(auto);
        margin: 50vw 0 20vw 0;
      }

      .button {
        @include position(absolute, 30vw, auto, auto, -15vw);
        @include dims(20vw, 4vw);
        @include typo(LS-VG5000, 20px, null, null, null);
        background: #131317;
        border: 2px solid #ce1953;
        border-radius: 4vmin;
        color: #c1c1c1;
        margin-bottom: 2.5vw;

        display: grid;
        place-items: center;

        @include devicesMax(tablet) {
          @include position(absolute, 60vw, auto, auto, -20vw);
          @include dims(32vw, 6vw);
        }

        @include devicesMax(mobile) {
          @include position(absolute, auto, auto, -10vw, 50%);
          @include dims(90vw, 16vw);
          border-radius: 10vmin;
          transform: rotate(-4deg) translateX(-50%);
        }
      }

      .instaxC {
        @include position(absolute, 15vw, auto, auto, -10vw);
        @include dims(7vw, auto);
        transform: rotate(-14deg);

        @include devicesMax(tablet) {
          @include dims(14vw, auto);
        }

        @include devicesMax(mobile) {
          @include position(absolute, -180px, auto, auto, 0);
          @include dims(28vw, auto);
        }

        .img {
          @include dims(100%);
          display: block;
          object-fit: contain;
        }
      }

      .agencyC {
        @include position(absolute, 35vw, auto, auto, 15vw);
        @include dims(20vw, auto);
        transform: rotate(-18deg);

        @include devicesMax(tablet) {
          @include position(absolute, 55vw, auto, auto, 40vw);
          @include dims(30vw, auto);
        }

        @include devicesMax(mobile) {
          @include position(absolute, -120px, auto, auto, 40vw);
          @include dims(45vw, auto);
          transform: rotate(18deg);
        }

        .img {
          @include dims(100%);
          display: block;
          object-fit: contain;
        }
      }

      .imgC {
        @include dims(25vw, auto);

        @include devicesMax(tablet) {
          @include dims(45vw, auto);
        }

        @include devicesMax(mobile) {
          @include dims(80vw, auto);
        }

        .img {
          @include dims(100%);
          display: block;
          object-fit: contain;
        }
      }
    }
  }

  .marquee {
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include devicesMax(mobile) {
      margin: 20vw 0;
    }

    .transformC {
      transform: rotate(8deg);
      padding: 5vw 0;
      z-index: 10;

      &:nth-child(2) {
        margin-top: -20vw;
        z-index: 5;

        .mText {
          color: #131317;
        }
      }

      .mText {
        @include typo(Lychee, 210px, 700, null, null);
        flex-shrink: 0;
        color: #c1c1c1;

        display: flex;
        align-items: center;

        @include devicesMax(tablet) {
          @include typo(Lychee, 110px, 700, null, null);
        }

        @include devicesMax(mobile) {
          @include typo(Lychee, 74px, 700, null, null);
        }

        .seperator {
          @include dims(200px, 10px);
          background: #c1c1c1;
          display: inline-block;
          margin: 2vw 3vw 0 3vw;
        }
      }
    }
  }

  .works {
    margin-top: 10vw;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    @include devicesMax(tablet) {
      margin-bottom: 10vw;
    }

    .titleC {
      margin: 0 auto;
      text-align: center;

      .title {
        @include typo(Lychee, 80px, null, 1.3, null);
        color: #c1c1c1;
        margin-bottom: 2.5vw;

        @include devicesMax(tablet) {
          @include typo(Lychee, 80px, null, 1.1, null);
          margin-bottom: 5vw;
        }

        @include devicesMax(mobile) {
          @include typo(Lychee, 45px, null, 1.1, null);
          margin-bottom: 10vw;
        }

        .italic {
          color: #ce1953;
          font-family: LaicaBItalic;
        }
      }

      .text {
        @include typo(Lychee, 35px, null, 1.5, null);
        color: #c1c1c1;
        margin: 0 auto;

        @include devicesMax(mobile) {
          @include typo(Lychee, 20px, null, 1.5, null);
          width: 80vw;
        }
      }
    }

    .worksGrid {
      padding: 15vw 4vw 0 4vw;

      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      grid-gap: 2.5rem;

      @include devicesMax(mobile) {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        padding: 15vw 8vw 0 8vw;
      }

      .gridItemC {
        overflow: hidden;
        position: relative;

        &::before {
          // for apsect ratio
          content: "";
          display: block;
          padding-bottom: 100%;
        }

        @media (hover: hover) {
          &:hover {
            .infoC {
              opacity: 1;
            }

            .img {
              filter: blur(32px) brightness(1.5);
            }
          }
        }

        .infoC {
          @include position(absolute, 0, 0, 0, 0);
          @include dims(100%);
          background: rgba(255, 255, 255, 0.3);
          padding: 2.5vw;
          z-index: 100;
          opacity: 0;
          transition: 0.4s all ease;

          .info {
            display: flex;
            flex-direction: column;

            .label {
              color: #131317;
              font-family: Lychee;
              font-size: 1rem;
              line-height: 100%;
              margin-bottom: 0.75rem;
            }

            .text {
              color: #131317;
              font-family: Lychee;
              font-weight: 700;
              font-size: 1.5rem;
              line-height: 100%;
            }

            .logoC {
              @include dims(auto, 2vw);
              margin-bottom: 1.5vw;
              margin-right: auto;

              .logo {
                @include dims(100%);
                display: block;
                object-fit: contain;
              }
            }
          }
        }

        .img {
          @include position(absolute, 0, 0, 0, 0);
          @include dims(100%);
          max-width: 100%;
          transition: 0.4s all ease-in-out;
          transform: scale(1.01);

          display: block;
          object-fit: cover;

          // Alternate Version

          margin: auto;

          // top: 50%;
          // left: 50%;
          // transform: translate(-50%, -50%);
        }
      }
    }

    .lookUp {
      color: #c1c1c1;
      margin: 5vw 0;
      text-align: center;

      font-family: Lychee;
      font-size: 1.25vw;
      line-height: 150%;

      .link {
        color: #ce1953;
        font-family: LS-VG5000;
        text-decoration: underline;
      }
    }
  }

  .stats {
    @include dims(100vw, 100vh);
    overflow: hidden;
    position: relative;

    @include devicesMax(tablet) {
      @include dims(100vw, auto);
    }

    .topC {
      @include position(absolute, 0, 0, auto, 0);
      padding: 8vw 10vw 0 6vw;
      z-index: 200;

      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @include devicesMax(tablet) {
        @include position(absolute, 0, auto, 0, 0);
        flex-direction: column;
      }

      .titleC {
        color: #f2e6cc;

        .title {
          @include typo(Lychee, 38px, null, 1.2, null);
          margin-bottom: 2vw;

          @include devicesMax(mobile) {
            text-align: center;
          }

          .italic {
            @include typo(LaicaB, 38px, null, 1.2, italic);
          }
        }

        .text {
          @include typo(Lychee, 20px, null, 1.4, null);
          width: 25vw;

          @include devicesMax(tablet) {
            width: 35vw;
          }

          @include devicesMax(mobile) {
            width: 100%;
            text-align: center;
          }
        }
      }

      .imgC {
        @include devicesMax(tablet) {
          @include dims(40vw, auto);
          margin-bottom: 20vw;
        }

        .img {
          transform: rotate(20deg);
        }
      }
    }

    .oWrapper {
      @include position(absolute, auto, -12.5vw, auto, auto);
      @include dims(125vw, 100vh);
      overflow: hidden;
      will-change: transform;

      @include devicesMax(tablet) {
        @include position(relative, auto, auto, auto, auto);
        @include dims(auto);
      }

      &.blue {
        background: #2d00f5;
        z-index: 110;

        @include devicesMax(mobile) {
          @include dims(100vw, 80vh);
          display: flex;
          margin-top: auto;

          .statC {
            .statText {
              @include typo(LS-VG5000-Shifted, 60px, null, null, null);
            }

            .desc {
              @include typo(Lychee, 20px, null, null, null);
            }
          }
        }
      }

      &.pink {
        background: $californiaSunset;
        z-index: 105;
      }

      &.black {
        background: $eigengrau;
        z-index: 100;
      }

      .screen {
        @include position(absolute, 0, 0, auto, auto);
        @include dims(100vw, 100vh);

        display: flex;
        align-items: center;
        justify-content: center;

        @include devicesMax(tablet) {
          @include position(relative, auto, auto, auto, auto);
          @include dims(100vw, 35vh);
        }

        .statC {
          margin-top: 20vw;
          margin-right: 40vw;

          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;

          @include devicesMax(tablet) {
            margin-left: auto;
            margin-top: auto;
            margin-bottom: 5vw;
            margin-right: 10vw;
          }

          &.pink {
            background: #ce1953;
            z-index: 105;
          }

          &.black {
            background: $eigengrau;
            z-index: 100;
          }

          .statText {
            @include typo(LS-VG5000-Shifted, 140px, null, null, null);
            color: #fff;
            margin-bottom: 2vw;
            position: relative;

            .asterisk {
              @include position(absolute, 0, 0, auto, auto);
              display: inline-block;
              font-size: 4.5vw;
              transform: translate(100%, 0);
            }

            .million {
              font-size: 8vw;
            }

            .percent {
              font-family: Lychee;
              font-size: 5vw;
              transform: translate(100%, 0);
            }
          }

          .desc {
            @include typo(Lychee, 40px, null, null, null);
            @include dims(30vw, auto);
            color: #fff;
            text-align: right;
          }
        }
      }
    }
  }

  .references {
    margin-top: 10vw;

    .titleC {
      margin: 0 auto 10vw auto;
      text-align: center;

      .imgC {
        @include dims(25vw, auto);
        margin: 0 auto 2vw auto;

        @include devicesMax(tablet) {
          @include dims(45vw, auto);
          margin-bottom: 5vw;
        }

        @include devicesMax(mobile) {
          @include dims(65vw, auto);
          margin-bottom: 10vw;
        }

        .img {
          @include dims(100%);
          display: block;
          object-fit: contain;
        }
      }

      .title {
        @include typo(Lychee, 64px, null, 1.3, null);
        color: #c1c1c1;
        margin-bottom: 2.5vw;

        @include devicesMax(tablet) {
          @include typo(Lychee, 64px, null, 1.1, null);
          margin: 0 auto 5vw auto;
          width: 70vw;
        }

        @include devicesMax(mobile) {
          @include typo(Lychee, 45px, null, 1.1, null);
          margin: 0 auto 10vw auto;
          width: 100%;
        }

        .italic {
          @include typo(LaicaBItalic, 64px, null, 1.3, null);
          color: #ce1953;

          @include devicesMax(mobile) {
            @include typo(LaicaBItalic, 45px, null, 1.1, null);
          }
        }
      }

      .text {
        @include typo(Lychee, 20px, null, 1.5, null);
        color: #c1c1c1;
        margin: 0 auto;

        @include devicesMax(mobile) {
          @include typo(Lychee, 20px, null, 1.5, null);
          width: 90vw;
        }
      }
    }

    .logoGrid {
      overflow: hidden;
      padding: 5vw 0;

      .row {
        margin-bottom: 2vw;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;

        &:last-child {
          margin-bottom: 0;
        }

        @include devicesMax(tablet) {
          flex-wrap: wrap;
        }

        @include devicesMax(mobile) {
          gap: 4vw;
          margin-bottom: 4vw;
        }
      }

      .logoC {
        @include dims(15vw);
        border: 1px solid #ce1953;
        border-radius: 50%;
        flex-shrink: 0;
        position: relative;

        @include devicesMax(tablet) {
          @include dims(20vw);
        }

        @include devicesMax(mobile) {
          @include dims(27vw);
        }

        &::before {
          // for apsect ratio
          content: "";
          display: block;
          padding-bottom: 100%;
        }

        &.logoDisney {
          transform: translate(-2vw, 0);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoAdidas {
          transform: translate(-2vw, -5vw);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoPhilips {
          transform: translate(0, -2vw);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoNike {
          transform: translate(3vw, 0);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoNestle {
          transform: translate(4vw, 5vw);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoEsteeLauder {
          transform: translate(2vw, -5vw);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoLoreal {
          transform: translate(-3vw, -6vw);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoDyson {
          transform: translate(0, -4vw);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        &.logoStarbucks {
          transform: translate(0, 0);

          @include devicesMax(mobile) {
            transform: translate(0, 0);
          }
        }

        .img {
          position: absolute;
          max-width: 100%;

          // Alternate Version
          // top: 0;
          // bottom: 0;
          // right: 0;
          // left: 0;
          // margin: auto;

          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          @include devicesMax(mobile) {
            max-height: 45%;
            max-width: 75%;
          }
        }
      }
    }
  }

  .moveOn {
    margin: 8vw 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include devicesMax(tablet) {
      margin: 15vw 0;
    }

    .titleC {
      margin: 0 auto 3vw auto;
      text-align: center;

      .imgC {
        @include dims(25vw, auto);
        margin: 0 auto 2vw auto;

        .img {
          @include dims(100%);
          display: block;
          object-fit: contain;
        }
      }

      .title {
        color: #c1c1c1;
        margin-bottom: 2.5vw;

        @include devicesMax(mobile) {
          @include typo(LaicaBItalic, 40px, null, 0.8, null);
        }

        .italic {
          @include typo(LaicaBItalic, 82px, null, 0.6, null);

          @include devicesMax(tablet) {
            @include typo(LaicaBItalic, 74px, null, 0.8, null);
          }

          @include devicesMax(mobile) {
            @include typo(LaicaBItalic, 45px, null, 0.8, null);
          }
        }

        &:nth-child(1) {
          @include typo(Lychee, 72px, null, null, null);

          @include devicesMax(tablet) {
            @include typo(Lychee, 64px, null, 0.8, null);
          }

          @include devicesMax(mobile) {
            @include typo(Lychee, 40px, null, 1.1, null);
          }
        }
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      column-gap: 2vw;

      @include devicesMax(tablet) {
        margin-top: 5vw;
      }

      @include devicesMax(mobile) {
        flex-direction: column;
      }

      .button {
        @include typo(LS-VG5000, 24px, null, 0.8, null);
        @include dims(20vw, 4vw);
        border: 2px solid #ce1953;
        border-radius: 36px;
        color: #c1c1c1;
        margin-bottom: 2.5vw;
        padding-bottom: 0.25ch;

        display: grid;
        place-items: center;

        @include devicesMax(tablet) {
          @include dims(30vw, 6vw);
        }

        @include devicesMax(mobile) {
          @include dims(80vw, 14vw);
          border: 1px solid #ce1953;
          margin-bottom: 5vw;
        }
      }
    }
  }
}

.modalContent {
  @include dims(100vw, 100vh);

  display: flex;
  align-items: center;
  justify-content: center;

  .video {
    @include dims(100%);
    object-fit: contain;
  }
}
