@import "../_global.scss";

.partners {
  .titleC {
    margin-top: 10vw;

    @include devicesMax(tablet) {
      margin-top: 20vw;
      margin-bottom: 5vw;
    }

    @include devicesMax(mobile) {
      margin-top: 30vw;
    }

    .small {
      @include typo(LS-VG5000, 18px, null, null, null);
      color: $californiaSunset;
      display: block;
      margin-bottom: 0.5rem;
      text-align: center;

      @include devicesMax(mobile) {
        @include typo(LS-VG5000, 16px, null, null, null);
      }
    }

    .title {
      @include typo(Lychee, 60px, null, 1.2, null);
      @include dims(36vw, auto);
      color: $stonewallGrey;
      margin: 0 auto;
      margin-bottom: 2vw;
      text-align: center;

      @include devicesMax(tablet) {
        @include dims(79vw, auto);
      }

      @include devicesMax(mobile) {
        @include typo(Lychee, 40px, null, 1.2, null);
        margin-bottom: 10vw;
      }
    }

    .subtitle {
      @include typo(Lychee, 20px, null, 1.4, null);
      color: $stonewallGrey;
      margin-bottom: 2vw;
      text-align: center;

      @include devicesMax(mobile) {
        @include typo(Lychee, 18px, null, 1.4, null);
      }
    }
  }

  .logoGrid {
    margin: 0 15vw;
    overflow: hidden;
    padding: 5vw 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;

    @include devicesMax(tablet) {
      margin: 0;
    }

    @include devicesMax(mobile) {
      padding: 10vw 0;
    }

    .logoC {
      @include dims(16vw, 12vw);
      background: $satinDeepBlack;
      border-radius: 2vmin;
      flex-shrink: 0;
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      @include devicesMax(tablet) {
        @include dims(24vw, 18vw);
      }

      @include devicesMax(mobile) {
        @include dims(44vw, 33vw);
      }

      .img {
        @include devicesMax(mobile) {
          max-height: 45%;
          max-width: 75%;
        }
      }
    }
  }

  .dare {
    padding: 10vw 0;

    .marqueeC {
      margin: 0 auto 5vw auto;
      overflow: hidden;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @include devicesMax(mobile) {
        margin: 0 auto 10vw auto;
      }

      .mText {
        flex-shrink: 0;
        font-family: Lychee;
        font-weight: 700;
        font-size: 10vw;
        color: #c1c1c1;

        display: flex;
        align-items: center;

        .seperator {
          @include dims(2.75ch, 0.2ch);
          background: #c1c1c1;
          display: inline-block;
          margin: 2vw 3vw 0 3vw;
        }
      }
    }

    .text {
      @include dims(60vw, auto);
      color: #c1c1c1;
      font-family: Lychee;
      font-size: 2.5vw;
      line-height: 120%;
      margin: 0 auto 3vw auto;
      text-align: center;

      @include devicesMax(tablet) {
        @include dims(80vw, auto);
        font-size: 3.5vw;
      }

      @include devicesMax(mobile) {
        @include dims(90vw, auto);
        font-size: 4.5vw;
        line-height: 140%;
        margin: 0 auto 10vw auto;
      }
    }

    .contactBtn {
      @include dims(20vw, 4vw);
      color: #c1c1c1;
      font-family: LS-VG5000;
      font-size: 1.75vw;
      margin: 0 auto;
      position: relative;

      display: flex;
      align-items: center;
      justify-content: space-between;

      @include devicesMax(tablet) {
        @include dims(32vw, 6vw);
        font-size: 3.25vw;
      }

      @include devicesMax(mobile) {
        @include dims(60vw, 10vw);
        font-size: 5vw;
        margin-bottom: 10vw;
      }

      &::after {
        content: "";
        @include position(absolute, 100%, auto, auto, 0);
        @include dims(50%, 2px);
        background: #ce1953;
      }

      &::before {
        content: "";
        @include position(absolute, 105%, 0, auto, auto);
        @include dims(50%, 2px);
        background: #ce1953;
        transition: 0.2s all ease;
      }

      @include devicesMin(aboveTablet) {
        &:hover {
          &::before {
            @include position(absolute, 100%, 0, auto, auto);
          }

          .iconC {
            .oWrapper {
              transform: translate(100%, -100%);
            }
          }
        }
      }

      .iconC {
        @include dims(20px);
        overflow: hidden;
        position: relative;

        @include devicesMax(mobile) {
          @include dims(0.75rem, auto);
        }

        .oWrapper {
          position: relative;
          display: flex;
          transition: 0.2s all ease;
        }

        .tuple {
          @include position(absolute, 100%, 100%, auto, auto);
          @include dims(20px);

          display: flex;
        }
      }
    }
  }
}
