@import "../_global.scss";

.services {
  padding-top: 5vw;

  .titleC {
    @include dims(100%, 100vh);
    padding-top: 10vw;
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    .marginR {
      margin-right: 17vw;
    }

    .title {
      @include typo(Lychee, 90px, null, 1.2, null);
      color: $pixelWhite;
      margin: 0 auto;
      margin-bottom: 2.5vw;
      text-align: center;
      z-index: 10;

      .line {
        display: block;

        &:last-child {
          margin-right: 52vw;
        }
      }

      .italic {
        font-family: LaicaBItalic;
      }

      .small {
        font-size: 3vw;
      }
    }

    .floatingText {
      @include dims(20vw, auto);
      @include position(absolute, 70%, auto, auto, 70%);

      color: #c1c1c1;
      font-family: Lychee;
      font-size: 1.25vw;
      line-height: 140%;
      margin: 0 auto;
      margin-bottom: 2.5vw;
      text-align: left;
    }

    .bgImgC {
      @include dims(27vw, 45vw);
      @include position(absolute, 50%, auto, auto, 50%);
      border-radius: 32px;
      overflow: hidden;
      transform: translate(-50%, -58%);
    }
  }

  .misc {
    padding: 0 10vw;
    position: relative;

    display: flex;
    justify-content: space-between;

    .imgC {
      overflow: hidden;

      &:nth-child(1) {
        @include dims(10vw, 18vw);
        border-radius: 32px;
        filter: blur(16px);
        transform: translate(0, -80%) rotate(-23deg);

        &::after {
          content: "";
          @include position(absolute, 0, 0, 0, 0);
          @include dims(100%);
          background: #000;
          opacity: 0.3;
          z-index: 5;
        }
      }

      &:nth-child(2) {
        @include position(absolute, -100%, auto, auto, 30%);
        @include dims(30vw);
        mix-blend-mode: difference;
        z-index: 10;
      }

      &:nth-child(3) {
        @include dims(10vw, 18vw);
        border-radius: 32px;
        filter: blur(16px);
        transform: rotate(21deg);

        &::after {
          content: "";
          @include position(absolute, 0, 0, 0, 0);
          @include dims(100%);
          background: #000;
          opacity: 0.3;
          z-index: 5;
        }
      }
    }
  }

  .theWay {
    padding: 0 4vw;

    .stickyText {
      color: #16161e;
      display: inline-block;
      font-family: Lychee;
      font-size: 5vw;
      line-height: 110%;

      .italic {
        color: #d41a5e;
        font-family: LaicaBItalic;
      }
    }
  }

  .sideServices {
    .sideServicesTitleC {
      @include dims(35vw, auto);
      margin: 12.5vw auto 2vw 40vw;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .title {
        color: #ce1953;
        font-family: LS-VG5000;
        font-size: 1.25vw;
        line-height: 100%;
        margin-bottom: 1vw;
      }

      .text {
        color: #c1c1c1;
        font-family: Lychee;
        font-size: 3vw;
        line-height: 120%;

        .italic {
          color: #ce1953;
          font-family: LaicaBItalic;
        }
      }
    }

    .cards {
      padding: 0 4vw;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 5vw;

      .cardC {
        &:nth-child(2) {
          transform: translate(-50%, 70%);
          z-index: 20;
        }

        &:nth-child(3) {
          transform: translate(-25%, 25%);
        }

        &:nth-child(4) {
          transform: translate(25%, 25%);
        }

        &:nth-child(5) {
          transform: translate(-55%, 60%);
        }
      }
    }
  }

  .singleTitleC {
    margin: 25vw auto 10vw auto;

    .title {
      @include typo(Lychee, 80px, null, 1, null);
      @include dims(60vw, auto);
      color: #c1c1c1;
      margin: 0 auto;
      text-align: center;

      .italic {
        color: #ce1953;
        font-family: LaicaBItalic;
      }
    }
  }

  .pros {
    padding: 0 4vw;

    .stickyText {
      color: #16161e;
      display: inline-block;
      font-family: Lychee;
      font-size: 5vw;
      line-height: 110%;

      .italic {
        color: #d41a5e;
        font-family: LaicaBItalic;
      }
    }
  }

  .dare {
    padding: 10vw 0;

    .marqueeC {
      margin: 0 auto 5vw auto;
      overflow-x: hidden;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .mText {
        flex-shrink: 0;
        font-family: Lychee;
        font-weight: 700;
        font-size: 10vw;
        color: #c1c1c1;

        display: flex;
        align-items: center;

        .seperator {
          @include dims(200px, 10px);
          background: #c1c1c1;
          display: inline-block;
          margin: 2vw 3vw 0 3vw;
        }
      }
    }

    .text {
      @include dims(60vw, auto);
      color: #c1c1c1;
      font-family: Lychee;
      font-size: 2.5vw;
      line-height: 120%;
      margin: 0 auto 3vw auto;
      text-align: center;
    }

    .contactBtn {
      @include dims(20vw, 4vw);
      color: #c1c1c1;
      font-family: LS-VG5000;
      font-size: 1.75vw;
      margin: 0 auto;
      position: relative;

      display: flex;
      align-items: center;
      justify-content: space-between;

      @include devicesMax(tablet) {
        @include dims(44vw, 8vw);
        font-size: 3.25vw;
      }

      @include devicesMax(mobile) {
        @include dims(50vw, 10vw);
        font-size: 5vw;
      }

      &::after {
        content: "";
        @include position(absolute, 100%, auto, auto, 0);
        @include dims(50%, 2px);
        background: #ce1953;
      }

      &::before {
        content: "";
        @include position(absolute, 105%, 0, auto, auto);
        @include dims(50%, 2px);
        background: #ce1953;
        transition: 0.2s all ease;
      }

      @include devicesMin(aboveTablet) {
        &:hover {
          &::before {
            @include position(absolute, 100%, 0, auto, auto);
          }

          .iconC {
            .oWrapper {
              transform: translate(100%, -100%);
            }
          }
        }
      }

      .iconC {
        @include dims(20px);
        overflow: hidden;
        position: relative;

        @include devicesMax(mobile) {
          @include dims(0.75rem, auto);
        }

        .oWrapper {
          position: relative;
          display: flex;
          transition: 0.2s all ease;
        }

        .tuple {
          @include position(absolute, 100%, 100%, auto, auto);
          @include dims(20px);

          display: flex;
        }
      }
    }
  }
}
