@import "../_global.scss";

.floatingCardTitle {
  font-size: 3vw;
  margin-bottom: 2vw;

  @include devicesMax(tablet) {
    font-size: 3.5vw;
  }

  @include devicesMax(mobile) {
    font-size: 9vw;
  }

  .normal {
    display: block;
    font-family: Lychee;
  }

  .italic {
    display: inline-block;
    font-family: LaicaBItalic;
  }
}

.stickyText {
  color: $eigengrau;
  display: inline-block;
  font-family: Lychee;
  font-size: 5vw;
  line-height: 110%;

  @include devicesMax(tablet) {
    font-size: 7vw;
    margin-bottom: 2vw;
    width: 60vw;
  }

  @include devicesMax(mobile) {
    font-size: 12vw;
    margin-bottom: 10vw;
    margin-top: 5vw;
    text-align: center;
    width: 100%;
  }

  .italic {
    color: $californiaSunset;
    font-family: LaicaBItalic;
  }
}

.services {
  padding-top: 5vw;

  @include devicesMax(tablet) {
    padding-top: 10vw;
  }

  .titleC {
    @include dims(100%, 100vh);
    padding-top: 10vw;
    position: relative;
    z-index: 10;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    @include devicesMax(tablet) {
      @include dims(100%, auto);
      flex-direction: column;
      padding-top: 20vw;
    }

    .title {
      @include typo(Lychee, 90px, null, 1.2, null);
      color: $pixelWhite;
      margin: 0 auto;
      margin-bottom: 2.5vw;
      text-align: center;
      text-shadow: 0px 10px 10px #16161e95;
      z-index: 10;

      @include devicesMax(tablet) {
        @include typo(Lychee, 60px, null, 1.2, null);
        margin-bottom: 5vw;
        margin-top: 20vw;
        width: 90%;
      }

      @include devicesMax(mobile) {
        @include typo(Lychee, 30px, null, 1.2, null);
        margin-bottom: 10vw;
        margin-top: 50vw;
        width: 95%;
      }

      .resetMargin {
        @include devicesMax(tablet) {
          margin: 0 !important;
        }
      }

      .line {
        display: block;

        @include devicesMax(tablet) {
          display: inline;
        }
      }

      .italic {
        font-family: LaicaBItalic;

        @include devicesMax(tablet) {
          display: inline;
        }
      }

      .small {
        @include typo(Lychee, 60px, null, 1.2, null);

        @include devicesMax(tablet) {
          @include typo(Lychee, 32px, null, 1.2, null);
        }

        @include devicesMax(mobile) {
          @include typo(Lychee, 24px, null, 1.2, null);
        }
      }
    }

    .floatingText {
      @include position(absolute, 70%, auto, auto, 70%);
      @include typo(Lychee, 20px, null, 1.4, null);
      @include dims(20vw, auto);
      color: #c1c1c1;
      margin: 0 auto;
      margin-bottom: 2.5vw;
      text-align: left;

      @include devicesMax(tablet) {
        @include position(relative, auto, auto, auto, auto);
        @include typo(Lychee, 24px, null, 1.4, null);
        @include dims(70vw, auto);
        text-align: center;
      }

      @include devicesMax(mobile) {
        @include typo(Lychee, 18px, null, 1.4, null);
        @include dims(70vw, auto);
        text-align: center;
      }
    }

    .bgImgC {
      @include position(absolute, 15%, auto, auto, 35%);
      @include dims(27vw, 45vw);

      @include devicesMax(mobile) {
        @include position(absolute, 25%, auto, auto, 30%);
        @include dims(35vw, 60vw);
      }

      .rotateC {
        transform: rotate(-10deg);
        border-radius: 32px;
        overflow: hidden;
        position: relative;

        @include devicesMax(mobile) {
          border-radius: 16px;
        }

        &::before {
          content: "";
          @include position(absolute, auto, -20px, 0px, -20px);
          @include dims(auto, 80%);
          background: linear-gradient(0deg, $eigengrau 0%, #16161ee6 30%, rgb(255, 255, 255, 0) 100%);
          z-index: 10;
          display: none;

          @include devicesMax(tablet) {
            display: block;
          }
        }
      }
    }
  }

  .misc {
    padding: 0 10vw;
    position: relative;

    display: flex;
    justify-content: space-between;

    @include devicesMax(mobile) {
      margin-bottom: 40vw;
    }

    .imgC {
      overflow: hidden;

      &:nth-child(1) {
        @include dims(10vw, 18vw);
        border-radius: 32px;
        filter: blur(8px);
        transform: translate(0, -80%) rotate(-23deg);
        z-index: 0;

        @include devicesMax(mobile) {
          @include dims(20vw, 35vw);
          border-radius: 16px;
        }

        &::after {
          content: "";
          @include position(absolute, 0, 0, 0, 0);
          @include dims(100%);
          background: #000;
          opacity: 0.3;
          z-index: 5;
        }
      }

      &:nth-child(2) {
        @include position(absolute, -50%, auto, auto, 30%);
        @include dims(30vw);
        mix-blend-mode: difference;
        z-index: 100;

        @include devicesMax(tablet) {
          @include position(absolute, -70%, auto, auto, 30%);
          @include dims(35vw);
        }

        @include devicesMax(mobile) {
          @include position(absolute, 0%, auto, auto, 10%);
          @include dims(75vw);
        }
      }

      &:nth-child(3) {
        @include dims(15vw, 25vw);
        border-radius: 32px;
        filter: blur(6px);
        transform: rotate(21deg);
        z-index: 0;

        @include devicesMax(mobile) {
          @include dims(30vw, 55vw);
          border-radius: 16px;
        }

        &::after {
          content: "";
          @include position(absolute, 0, 0, 0, 0);
          @include dims(100%);
          background: #000;
          opacity: 0.3;
          z-index: 5;
        }
      }
    }
  }

  .theWay {
    padding: 0 4vw;

    @include devicesMax(mobile) {
      padding: 0;
    }
  }

  .sideServices {
    margin-bottom: 15vw;

    .sideServicesTitleC {
      @include dims(35vw, auto);
      margin: 12.5vw auto 2vw 40vw;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      @include devicesMax(tablet) {
        @include dims(50vw, auto);
        margin: 12.5vw auto 10vw 40vw;
      }

      @include devicesMax(mobile) {
        @include dims(90vw, auto);
        align-items: center;
        margin: 30vw auto 20vw auto;
      }

      .title {
        color: #ce1953;
        font-family: LS-VG5000;
        font-size: 1.25vw;
        line-height: 100%;
        margin-bottom: 1vw;

        @include devicesMax(tablet) {
          font-size: 2vw;
        }

        @include devicesMax(mobile) {
          font-size: 4vw;
          margin-bottom: 4vw;
          text-align: center;
        }
      }

      .text {
        color: #c1c1c1;
        font-family: Lychee;
        font-size: 3vw;
        line-height: 120%;

        @include devicesMax(tablet) {
          font-size: 3.5vw;
        }

        @include devicesMax(mobile) {
          font-size: 7vw;
          text-align: center;
        }

        .italic {
          color: #ce1953;
          font-family: LaicaBItalic;
        }
      }
    }

    .cards {
      padding: 5vw 4vw 0 4vw;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 5vw;

      .cardC {
        &:nth-child(1) {
          @include devicesMax(tablet) {
            transform: translate(10%, 30%);
          }
        }

        &:nth-child(2) {
          transform: translate(-50%, 70%);
          z-index: 20;

          @include devicesMax(tablet) {
            transform: translate(-20%, 40%);
          }
        }

        &:nth-child(3) {
          transform: translate(-10%, 25%);

          @include devicesMax(tablet) {
            transform: translate(20%, 40%);
          }
        }

        &:nth-child(4) {
          transform: translate(25%, 35%);

          @include devicesMax(tablet) {
            transform: translate(-5%, 20%);
          }
        }

        &:nth-child(5) {
          transform: translate(-55%, 60%);

          @include devicesMax(tablet) {
            transform: translate(85%, 30%);
          }
        }
      }
    }
  }

  .singleTitleC {
    margin: 25vw auto 10vw auto;

    .title {
      @include typo(Lychee, 80px, null, 1, null);
      @include dims(60vw, auto);
      color: #c1c1c1;
      margin: 0 auto;
      text-align: center;

      @include devicesMax(tablet) {
        @include typo(Lychee, 64px, null, 1, null);
      }

      @include devicesMax(mobile) {
        @include typo(Lychee, 32px, null, 1.2, null);
        @include dims(80vw, auto);
      }

      .italic {
        color: #ce1953;
        font-family: LaicaBItalic;
      }
    }
  }

  .pros {
    padding: 0 4vw;

    @include devicesMax(mobile) {
      padding: 0;
    }
  }

  .dare {
    @include dims(100%, 90vh);
    // overflow-x: clip;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include devicesMax(tablet) {
      @include dims(auto);
      margin: 15vw 0 10vw 0;
    }

    @include devicesMax(mobile) {
      margin: 20vw 0;
    }

    .marqueeC {
      margin: 0 auto 5vw auto;
      overflow-x: hidden;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @include devicesMax(mobile) {
        margin: 0 auto 15vw auto;
      }

      .mText {
        flex-shrink: 0;
        font-family: Lychee;
        font-weight: 700;
        font-size: 10vw;
        color: #c1c1c1;

        display: flex;
        align-items: center;

        .seperator {
          @include dims(2.75ch, 0.2ch);
          background: #c1c1c1;
          display: inline-block;
          margin: 2vw 3vw 0 3vw;
        }
      }
    }

    .text {
      @include dims(60vw, auto);
      color: #c1c1c1;
      font-family: Lychee;
      font-size: 2.5vw;
      line-height: 120%;
      margin: 0 auto 3vw auto;
      text-align: center;

      @include devicesMax(tablet) {
        @include dims(70vw, auto);
        font-size: 3.5vw;
        margin: 0 auto 5vw auto;
      }

      @include devicesMax(mobile) {
        @include dims(90vw, auto);
        font-size: 6vw;
        margin: 0 auto 10vw auto;
      }
    }

    .contactBtn {
      @include dims(20vw, 4vw);
      margin: 0 auto;

      @include devicesMax(tablet) {
        @include dims(30vw, 6vw);
        margin: 0 auto;
      }

      @include devicesMax(mobile) {
        @include dims(55vw, 10vw);
      }
    }
  }
}
