@import "/src/assets/scss/normalize.scss";
@import "/src/assets/scss/reset.scss";
@import "/src/assets/fonts/fonts.scss";
@import "/src/assets/scss/global.scss";

html {
  font-size: 16px;

  @include devicesMax(widescreen) {
    font-size: 16px;
  }

  @include devicesMax(desktop) {
    font-size: 14px;
  }

  @include devicesMax(tablet) {
    font-size: 20px;
  }

  @include devicesMax(tabletmini) {
    font-size: 14px;
  }

  @include devicesMax(mobile) {
    font-size: 16px;
  }
}

body {
  background: $eigengrau;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  overflow: hidden;
  width: 100vw;
}

* {
  cursor: default;
}

.scrollbar-thumb {
  background: $californiaSunset !important;
  opacity: 0.9;
}

.scrollbar-track {
  background: transparent !important;
}

::selection {
  color: $californiaSunset;
  background: $eigengrau;
}

br {
  display: block;

  @include devicesMax(mobile) {
    display: none;
  }
}
