@import "/src/assets/scss/normalize.scss";
@import "/src/assets/scss/reset.scss";
@import "/src/assets/fonts/fonts.scss";

body {
  background: #16161c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  cursor: default;
}
