@import "/src/assets/scss/normalize.scss";
@import "/src/assets/scss/reset.scss";
@import "/src/assets/fonts/fonts.scss";
@import "/src/assets/scss/global.scss";

html {
  font-size: 16px;
}

body {
  background: $eigengrau;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  cursor: default;
}
